.container_sacola {

    position: absolute;
    top: 12%;
    right: 8%;
    width: 20%;
    height: 50%;

    border-radius: 1vw;

    z-index: 8;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    background-color: var(--cor_quatro);
}

.container_header_sacola {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 15%;
}

.container_header_sacola h1 {

    font-family: var(--tipografia_secundaria);
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--cor_seis);
}

.container_produtos_na_sacola {

    display: flex;
    flex-direction: column;
    align-items: center;
    height: 65%;
    width: 100%;

    padding-bottom: 1%;

    overflow-y: scroll;
    scrollbar-width: none;
}

.container_produtos_a_exibir_sacola {

    display: flex;

    transition: 0.3s;
    width: 90%;
    min-height: 28%;

    margin-top: 5%;

    border-radius: 0.5vw;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    background-color: var(--cor_quatro);
}

.container_imagem_do_produto_sacola {

    display: flex;
    align-items: center;
    justify-content: center;

    width: 25%;
    height: 100%;

    border-top-left-radius: 0.5vw;
    border-bottom-left-radius: 0.5vw;

    background-color: var(--cor_doze_v_um);
}

.container_info_produto_nome_sacola {

    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.container_info_produto_sacola {

    display: flex;
    justify-content: space-between;
    width: 75%;
    height: 100%;
}

.container_info_produto_titulo_sacola {

    display: flex;
    align-items: center;

    width: 130%;
    height: 30%;
}

.container_info_produto_titulo_sacola h3 {

    width: 100%;

    font-family: var(--tipografia_primaria);
    font-size: 0.8rem;
    font-weight: 700;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    color: var(--cor_seis);
}

.container_contador_de_produtos {

    display: flex;
    justify-content: space-between;
    width: 70%;
    height: 30%;

    border-radius: 100vw;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    background-color: var(--cor_nove_v_dois);
}

.container_contador_de_produtos h5 {

    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 20%;

    font-family: var(--tipografia_primaria);
    font-size: 1rem;
    font-weight: 550;

    color: var(--cor_seis);
}

.diminuir_quantidade_de_produto {

    cursor: pointer;
    transition: 0.3s;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 35%;
    height: 100%;

    border: none;

    font-family: var(--tipografia_primaria);
    font-size: 1.4rem;
    font-weight: 500;

    color: var(--cor_seis);
    background-color: transparent;
}

.diminuir_quantidade_de_produto:hover {

    border-top-left-radius: 100vw;
    border-bottom-left-radius: 100vw;
    background-color: var(--cor_doze_v_um);
}

.aumentar_quantidade_de_produto {

    cursor: pointer;
    transition: 0.3s;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 35%;
    height: 100%;

    border: none;

    font-family: var(--tipografia_primaria);
    font-size: 1.4rem;
    font-weight: 450;

    color: var(--cor_seis);
    background-color: transparent;
}

.aumentar_quantidade_de_produto:hover {

    border-top-right-radius: 100vw;
    border-bottom-right-radius: 100vw;
    background-color: var(--cor_doze_v_um);
}


.container_info_produto_quantidade_e_nome {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    height: 100%;
    margin-left: 5%;
}

.container_imagem_do_produto_sacola img {

    width: 80%;
}

.preco_do_produto_sacola {

    font-family: var(--tipografia_primaria);
    font-size: 0.9rem;
    font-weight: 600;

    color: var(--cor_seis);
}

.container_info_produto_preco_e_logo {

    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-around;
    width: 40%;
    height: 100%;
    padding-right: 5%;
}

.container_info_produto_preco_e_logo img {

    border-radius: 100vw;
    width: 35%;
    box-shadow: rgba(0, 0, 0, 0.01) 0px 1px 3px 0px, rgba(21, 25, 28, 0.15) 0px 0px 0px 1px;
}

.nenhum_item_adicionado {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 75%;
}

.nenhum_item_adicionado p {

    margin-top: 10%;

    font-family: var(--tipografia_secundaria);
    font-size: 1rem;
    font-weight: 500;

    color: var(--cor_seis_v_um);
}

.nenhum_item_adicionado img {

    margin-top: 15%;
    width: 20%;
}

.container_botao_da_sacola {

    display: flex;
    align-items: end;
    justify-content: center;
    width: 100%;
    height: 15%;
}

.container_botao_da_sacola button {

    cursor: pointer;
    transition: 0.3s;

    width: 90%;
    height: 80%;

    border: 0.1vw solid var(--cor_um);
    border-radius: 100vw;

    font-family: var(--tipografia_secundaria);
    font-size: 1rem;
    font-weight: 500;

    color: var(--cor_quatro);
    background-color: var(--cor_um);
}

.container_botao_da_sacola button:hover {

    border: 0.1vw solid var(--cor_um_v_dois);
    background-color: var(--cor_um_v_dois);
}