.container_pop_up_de_excluir{

    position: fixed;

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;

}

.pop_up_de_excluir{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 35%;
    height: 49%;
    margin-top: 8%;

    border-radius: 1.5vw;

    background-color: var(--cor_quatro);
}

.pop_up_de_excluir img {
    height: 6.2rem;
    width: 6.2rem;
}

.pop_up_de_excluir p{

    width: 65%;
    text-align: center;

    font-family: var(--tipografia_primaria);
    font-weight: 620;
    font-size: 1.2rem;

    margin-top: 10%;
    margin-bottom: 10%;
    color: var(--cor_seis);
}

.pop_up_de_excluir_botoes{

    width: 73%;
    height: 21%;

    display: flex;
    justify-content: center;
}

.pop_up_de_excluir_botao_sair{

    transition: 0.3s;
    cursor: pointer;

    width: 43%;
    height: 59%;
    margin-right: 5%;

    font-family: var(--tipografia_primaria);
    font-size: 1.1rem;
    font-weight: 500;

    border-radius: 15vw;
    border: 0.1vw solid var(--cor_dois);
    background-color: var(--cor_dois);
    color: var(--cor_quatro);
}

.pop_up_de_excluir_botao_excluir{

    transition: 0.3s;
    cursor: pointer;

    width: 43%;
    height: 59%;

    font-family: var(--tipografia_primaria);
    font-size: 1.1rem;
    font-weight: 500;

    border-radius: 15vw;
    border: 0.1vw solid var(--cor_um);
    background-color: var(--cor_um);
    color: var(--cor_quatro);
}

.pop_up_de_excluir_botao_excluir:hover{

    border: 0.1vw solid var(--cor_um_v_dois);
    background-color: var(--cor_um_v_dois);
}

.pop_up_de_excluir_botao_sair:hover{

    border: 0.1vw solid var(--cor_dois_v_um);
    background-color: var(--cor_dois_v_um);
}