.container_visualizar_produto {

    transition: 0.5s ease;
}

.container_voltar_para_buscar_produtos {

    display: flex;
    align-items: end;
    width: 100%;
    height: 5vh;
}

.container_voltar_para_buscar_produtos a {

    display: flex;
    justify-content: space-between;
    width: 5.5%;
    transition: 0.2s;

    text-decoration: none;
    font-family: var(--tipografia_secundaria);
    font-size: 1.2rem;
    font-weight: 600;

    border: 0.1vw solid transparent;
    margin-left: 7%;
    margin-bottom: -1%;
    color: var(--cor_seis);
}

.container_voltar_para_buscar_produtos a:hover {

    border-bottom: 0.1vw solid var(--cor_seis);
}

.container_info_do_produto {

    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80vh;
}

.container_info_do_produto_imagens {

    display: flex;
    justify-content: center;

    width: 40%;
    margin-right: 2%;
    margin-left: 2%;
}

.container_imagens_do_produto {

    display: flex;
    flex-direction: column;
    justify-content: start;

    width: 25%;
    height: 80%;
    margin-top: 8%;
    margin-left: 10%;
}

.container_outras_opcoes_de_imagens {

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.3s;
    cursor: pointer;

    width: 100%;
    height: 26%;

    margin-top: 15%;
    border-radius: 1vw;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    background-color: var(--cor_doze);
}

.container_outras_opcoes_de_imagens:hover {

    background-color: var(--cor_doze_v_um);
}


.container_imagens_do_produto img {

    width: 80%;
}

.container_imagem_principal_produto {

    display: flex;
    justify-content: center;
    align-items: center;

    width: 80%;
    height: 80%;

    margin-top: 11%;
    margin-left: 2%;

    border-radius: 1vw;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    background-color: var(--cor_doze);
}

.container_imagem_principal_produto img:hover {

    width: 95%;
}

.container_imagem_principal_produto img {

    transition: 0.3s;

    width: 90%;
}

.container_info_do_produto_conteudo {

    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    height: 100%;
}

.container_info_do_produto_titulo {

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 8%;
    margin-top: 4%;
    margin-bottom: 1%;
}

.container_info_brecho_logo {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.container_info_brecho_do_produto {

    display: flex;
    flex-direction: column;
    align-items: end;
    width: 10%;
    height: 100%;
}

.contianer_pop_up_nome_do_brecho {

    position: absolute;
    right: 14%;
    top: 35%;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 8%;
    height: 5%;

    border-top-left-radius: 100vw;
    border-top-right-radius: 0vw;
    border-bottom-left-radius: 100vw;
    border-bottom-right-radius: 100vw;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

    background-color: var(--cor_quatro);
}

.contianer_pop_up_nome_do_brecho span {

    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    font-weight: 550;
    font-size: 0.8rem;
    font-family: var(--tipografia_secundaria);

    color: var(--cor_seis);
}

.container_info_do_produto_titulo h1 {

    width: 100%;
    font-family: var(--tipografia_primaria);
    font-size: 2.3rem;
    font-weight: 600;
    color: var(--cor_seis);
}

.container_info_do_produto_titulo img {

    cursor: pointer;

    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

    width: 95%;
    height: 90%;
    border-radius: 100%;
}

.container_info_do_produto_preco {

    display: flex;
    align-items: center;
    width: 95%;
    height: 5%;
}

.container_info_do_produto_preco h2 {

    font-family: var(--tipografia_primaria);
    font-size: 2rem;
    font-weight: 650;

    color: var(--cor_seis);
}

.container_info_do_produto_descricao {

    display: flex;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.container_info_do_produto_descricao p {

    width: 80%;
    height: fit-content;

    overflow-wrap: break-word;
    white-space: normal;

    font-size: 0.8rem;
    font-family: var(--tipografia_secundaria);
    font-weight: 500;

    padding-bottom: 2%;
    border-bottom: 0.1vw solid var(--cor_oito);
    color: var(--cor_seis_v_um);
}

.container_info_do_produto_tamanho_e_cor {

    display: flex;
    width: 100%;
    height: 13%;
}

.container_info_do_produto_tamanho {

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 20%;
    height: 80%;
}

.container_info_do_produto_tamanho h3 {

    font-size: 1.4rem;
    font-family: var(--tipografia_primaria);
    font-weight: 600;
    color: var(--cor_seis);
}

.container_fundo_info_do_produto_tamanho {

    display: flex;
    justify-content: center;
    align-items: center;

    width: 30%;
    height: 45%;

    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

    border: 0.1vw solid var(--cor_doze);
    border-radius: 100vw;
    background-color: var(--cor_doze);
}

.container_fundo_info_do_produto_tamanho span {

    font-family: var(--tipografia_secundaria);
    font-size: 1rem;
    font-weight: 500;

    color: var(--cor_oito_v_dois);
}

.container_info_do_produto_composto {

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 24%;
    height: 80%;
}

.container_info_do_produto_composto h3 {

    font-size: 1.4rem;
    font-family: var(--tipografia_primaria);
    font-weight: 600;
    color: var(--cor_seis);
}

.container_fundo_info_do_produto_composto {

    display: flex;
    justify-content: center;
    align-items: center;

    width: fit-content;
    max-width: 60%;
    height: 45%;

    padding: 6%;

    border: 0.1vw solid var(--cor_doze);
    border-radius: 100vw;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

    background-color: var(--cor_doze);
}

.container_fundo_info_do_produto_composto span {

    width: 100%;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    font-family: var(--tipografia_secundaria);
    font-size: 0.9rem;
    font-weight: 500;

    color: var(--cor_oito_v_dois);
}

.container_info_do_produto_cor {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20%;
    height: 80%;
}

.container_info_do_produto_cor h3 {

    font-size: 1.4rem;
    font-family: var(--tipografia_primaria);
    font-weight: 600;

    margin-top: 2%;
    color: var(--cor_seis);
}

.container_fundo_info_do_produto_cor {

    display: flex;
    align-items: center;
    margin-top: 7%;
}

.cor_do_produto {

    padding: 8%;
    border-radius: 100vw;
    margin-right: 5%;

    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.container_fundo_info_do_produto_cor span {

    font-size: 0.9rem;
    font-family: var(--tipografia_secundaria);
    font-weight: 400;
    color: var(--cor_seis);
}

.container_info_do_produto_botoes {

    width: 100%;
    height: 30%;
}

.container_info_do_produto_quantidade {

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 20%;
    height: 80%;
}

.container_info_do_produto_quantidade h3 {

    font-family: var(--tipografia_primaria);
    font-weight: 600;
    font-size: 1.4rem;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    color: var(--cor_seis);
}

.container_fundo_info_do_produto_quantidade {

    display: flex;
    align-items: center;
    justify-content: center;

    height: 45%;
    width: 30%;
    border-radius: 100vw;

    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

    background-color: var(--cor_doze);
}

.container_fundo_info_do_produto_quantidade span {

    font-size: 1rem;
    font-weight: 500;
    font-family: var(--tipografia_secundaria);

    color: var(--cor_oito_v_dois);
}

.container_botoes_do_produto {

    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 25%;

    margin-top: 5%;
}

.botao_comprar_produto {

    cursor: pointer;
    transition: 0.3s;

    width: 40%;
    height: 100%;

    font-weight: 500;
    font-family: var(--tipografia_secundaria);
    font-size: 1rem;

    border: 0.1vw solid var(--cor_um);
    border-radius: 100vw;

    color: var(--cor_quatro);
    background-color: var(--cor_um);
}

.botao_comprar_produto:hover {

    border: 0.1vw solid var(--cor_um_v_dois);
    background-color: var(--cor_um_v_dois);
}

.botao_conversar_com_brecho {

    display: flex;
    align-items: center;

    width: 35%;
    height: 100%;

    margin-left: 5%;
    cursor: pointer;
    transition: 0.3s;

    font-family: var(--tipografia_secundaria);
    font-weight: 500;
    font-size: 1rem;

    border: 0.1vw solid var(--cor_dois);
    border-radius: 100vw;

    color: var(--cor_quatro);
    background-color: var(--cor_dois);
}

.botao_conversar_com_brecho img {

    width: 15%;
    height: 60%;
    margin-right: 5%;
    margin-left: 12%;
}

.botao_conversar_com_brecho:hover {

    border: 0.1vw solid var(--cor_dois_v_um);
    background-color: var(--cor_dois_v_um);
}

.fundo_do_pop_up_conversa_adicionada {

    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 5;
    background-color: var(--cor_oito);
}

.container_voce_tambem_pode_gostar {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    width: 100%;
    height: 75vh;
}

.container_voce_tambem_pode_gostar_titulo {

    display: flex;
    justify-content: center;
    align-items: end;
    width: 90%;
    height: 15%;
}

.container_voce_tambem_pode_gostar_titulo h2 {

    font-family: var(--tipografia_primaria);
    font-size: 2rem;
    font-weight: 650;

    color: var(--cor_seis);
}

.container_produtos_embaralhados {

    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: 65%;
}

.container_produto_embaralhado {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    height: 90%;

    transition: 0.3s;
    cursor: pointer;

    border-radius: 2vw;
    border: 0.1vw solid var(--cor_quatro);
    background-color: transparent;
}

.container_produto_embaralhado:hover {

    background-color: var(--cor_doze_v_um);
}

.container_imagem_do_produto {

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 0.3s;

    width: 90%;
    height: 70%;

    margin-top: 5%;

    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

    border-radius: 2vw;
    background-color: var(--cor_nove_v_dois);
}

.container_imagem_do_produto img {

    width: 65%;
}

.container_produto_embaralhado_info {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 25%;
}

.contianer_produto_embaralhado_titulo {

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 70%;
}

.contianer_produto_embaralhado_titulo h5 {

    width: 70%;
    font-family: var(--tipografia_primaria);
    font-size: 1.1rem;
    font-weight: 600;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    color: var(--cor_seis);
}

.contianer_produto_embaralhado_titulo img {

    width: 15%;
    height: 60%;
    border-radius: 100vw;

    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.container_produto_embaralhado_preco {

    display: flex;
    align-items: end;
    width: 90%;
    height: 10%;
}

.container_produto_embaralhado_preco span {

    font-size: 1.2rem;
    font-family: var(--tipografia_primaria);
    font-weight: 700;

    color: var(--cor_seis);
}