.container_pop_up_excluir_conversa_notificacao{

    display: flex;
    align-items: start;
    justify-content: center;

    position: fixed;
    width: 26%;
    height: 75%;

    background-color: var(--cor_oito);
}

.container_pop_up_de_notificacao_de_conversa_excluida{

    display: flex;
    align-items: center;
    flex-direction: column;

    width: 80%;
    height: 40%;

    margin-top: 15%;

    border-radius: 1vw;
    background-color: var(--cor_quatro);
}

.container_pop_up_de_notificacao_de_conversa_excluida img{

    width: 75%;
}

.container_pop_up_de_notificacao_de_conversa_excluida span{

    width: 90%;

    text-align: center;
    font-family: var(--tipografia_primaria);
    font-size: 1rem;
    font-weight: 600;

    color: var(--cor_seis);
}