/* body {
    margin: 0;
}  */


/* .toda-a-tela-content {
    border: 1px solid #18CA00;


    height: 110vh;
    width: 100%;


    display: flex;
    flex-direction: column;
} */


.entre-navbar-e-footer-content {
    border: 1px solid #D08E00;


    min-height: 180vh;
    width: 100%;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}


/* conteudo do PERFIL BRECHÓ */


.perfil-brecho-content {
    /* border: 1px solid #D08E00; */


    min-height: 400px;
    width: 80%;
    max-width: 1200px;
    /* height: 80%;
    width: 80%; */


    display: flex;
    flex-direction: column;
}


.parte-azul-superior-content {
    border: 1px solid #00d0c6;


    height: 25vh;
    width: 100%;


    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    padding-right: 0.5%;


    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
    background-color: var(--cor_vinte_um);
}


.tres-pontos-icon {
    padding: 1%;
    cursor: pointer;
    background-color: transparent;
    border: none;
}


.parte-do-meio-logo-nome-content {
    border: 1px solid #00d0c6;


    height: 17vh;
    width: 100%;


    display: flex;
    flex-direction: row;
    padding-left: 3%;
    gap: 3rem;
}


.logo-brecho-content {
    border: 3px solid rgb(43, 255, 0);


    height: 79%;
    width: 10%;


    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


}


.logo-brecho-content img {
    border-radius: 7rem;
    height: 10rem;
    width: 10rem;
}


.nome-brecho-content {
    /* border: 1px solid #d00092; */


    height: 70%;
    width: fit-content;


    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.nome-brecho-content h1 {
    font-family: "Montserrat", sans serif;
    font-weight: 600;
    font-size: 1.3rem;
    letter-spacing: 1px;
    color: var(--cor_seis);
}


.parte-inferior-do-perfil-brecho-content {
    border: 1px solid red;


    height: 29vh;
    width: 100%;


    display: flex;
    flex-direction: column;
}


.topicos-de-informacao-sobre-perfil-content {
    border-bottom: 1px solid var(--cor_nove_v_um);


    height: 15vh;
    width: 100%;


    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1%;
    padding-top: 1%;
    gap: 2rem;
}


.topicos-de-informacao-sobre-perfil-content button {
    position: relative; /* teste */
    transition: color 0.3s; /* teste - transição suave */

    width: fit-content;
    height: 100%;
    background-color: transparent;
    font-family: var(--tipografia_primaria);
    font-weight: 700;
    font-size: 1rem;
    color: var(--cor_um);
    cursor: pointer;
    border: none;
}

/* teste para o bottom border*/
.topicos-de-informacao-sobre-perfil-content button.ativo::after {
    content: ''; /*essa parte é obrigatória ter quando tem um :after, se não ele não aparece*/
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px; /* Espessura da linha */
    background-color: var(--cor_um);
    border-radius: 2px;
}


/* .topicos-de-informacao-sobre-perfil-content button:active {
    border-bottom: 1.2px var(--cor_um);
    border-bottom-style: solid;
    border-radius: 0.8px;
} */


.informacoes-exibidas-content {
    /* border: 1px solid #4c00d0; */


    height: 77vh;
    width: 99%;


    display: flex;
    flex-direction: column;
}




/* GERAL - className que foi usado em várias tags */


.titulo-topico-exibido-content {
    /* border: 1px solid #D07900; */


    height: 15%;
    width: 99%;


    display: flex;


    align-items: center;
    padding-left: 1%;
}


.titulo-topico-exibido-content p {
    font-family: var(--tipografia_primaria);
    font-weight: 600;
    font-size: 0.9rem;
    color: var(--cor_seis);
}


.infos-cadastradas-sub-div {
    /* border: 1px solid #D07900; */


    height: 79%;
    width: 99%;


    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1%;
    gap: 3%;
    /* padding-left: 1%; */
}


/* ----- div sobre o brechó -----*/


.titulo-topico-exibido-sobre-content {
    border: 1px solid #D07900;
    height: 7%;
    width: 99%;


    display: flex;


    align-items: center;
    padding-left: 1%;
}


.titulo-topico-exibido-sobre-content p {
    font-family: var(--tipografia_primaria);
    font-weight: 600;
    font-size: 0.9rem;
    color: var(--cor_seis);
}


.infos-cadastradas-sobre-sub-div {
    border: 1px solid #D07900;
   
    height: auto;
    width: 99%;


    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1%;


    /* overflow-y: auto; */
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.dados-cadastradas-sobre-exibidos {
    font-family: var(--tipografia_primaria);
    font-weight: 590;
    font-size: 0.8rem;
    color: var(--cor_dez);

    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal; /* Permite quebra de linha */
    display: block; /* Transforma em bloco para ocupar largura total */
}

/* ------------ */




.labels-e-dados-cadastrados-content {
    /* border: 3px solid red; */


    width: 100%;
    height: fit-content;


    display: flex;


}


.labels-info {
    padding-right: 1%;


    font-family: var(--tipografia_primaria);
    font-weight: 700;
    font-size: 0.8rem;
    color: var(--cor_vinte_dois);
}


.dados-cadastradas-exibidos {
    font-family: var(--tipografia_primaria);
    font-weight: 590;
    font-size: 0.8rem;
    color: var(--cor_dez);
}




/*CONTEUDO DO PRODUTOS DO BRECHÓ*/


.produtos-do-brecho-content {
    border: 1px solid #D08E00;


    min-height: 70vh;
    width: 89%;


    display: flex;
    flex-direction: column;
}


.titulo-produtos-mais-ver-todos {
    border: 1px solid #D00000;


    height: 90%;
    width: 100%;


    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
}

.titulo-produtos-mais-ver-todos h2 {
    font-family: var(--tipografia_primaria);
    color: var(--cor_um);
    padding-left: 0.7%;
    font-weight: 600;
    font-size: 3rem;
}

.titulo-produtos-mais-ver-todos button {
    border: none;
    
    width: 12%;
    height: 3rem;
    padding: 0 1rem;
    border-radius: 2vw;

    transition: 0.4s;
    cursor: pointer;
    background-color: var(--cor_um);
    color: var(--cor_doze);
    font-family: var(--tipografia_secundaria);
    font-size: 1rem;
    
}


.produtos-exibidos-do-brecho-content {
    border: 1px solid #D00000;


    height: 63vh;
    width: 100%;


    display: flex;
    flex-direction: row;
    justify-content: space-evenly;


    /* align-items: center; */
}

.card-produto-brecho-content {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    transition: 0.3s;

    width: 22%;
    height: 40%;
    margin-right: 1%;
    margin-bottom: 3%;
    padding-bottom: 2%;

    border-radius: 1vw;
    border: none;
    background-color: transparent;
}

.img-produto-card-content {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;

    width: 90%;
    height: 25vh;

    margin-top: 6%;
    margin-bottom: 5%;

    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 1vw;
    background-color: var(--cor_nove_v_dois);
}

.img-produto-card-content img {
    width: 60%;
}

.info-produto-card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 90%;
    height: 18%;
}

.info-produto-card-content p {
    width: 80%;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    font-size: 1.2rem;
    font-family: var(--tipografia_primaria);
    font-weight: 700;

    color: var(--cor_seis);
}

.info-produto-card-content {
    font-size: 1.3rem;
    font-family: var(--tipografia_secundaria);
    font-weight: 700;

    color: var(--cor_seis);
}