/* body {
    margin: 0;
}  */

/* .toda-a-tela-content {
    border: 1px solid #18CA00; 

    height: 110vh;
    width: 100%;

    display: flex;
    flex-direction: column;
} */

.entre-navbar-e-footer-content {
    border: 1px solid #D08E00;

    min-height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

    /* conteudo do PERFIL BRECHÓ */

.perfil-brecho-content {
    border: 1px solid red;

    min-height: 400px; /* ou a altura que preferir */
    width: 80%;
    max-width: 1200px;
    /* height: 80%;
    width: 80%; */

    display: flex;
    flex-direction: column;
    /* margin-top: 10%; */
}

.parte-azul-superior-content {
    border: 1px solid #00d0c6;

    height: 25%;
    width: 100%;

    display: flex;
    align-items: flex-end;
    justify-content: end;
    padding-right: 0.5%;

    border-radius: 0.5rem;
    background-color: var(--cor_vinte_um);
}

.parte-do-meio-logo-nome-content {
    border: 1px solid #00d0c6;

    height: 15%;
    width: 100%;

    display: flex;
    justify-content: start;
    padding: 2%;
    gap: 3rem;
}

.nome-brecho-e-avaliacao-content {
    border: 1px solid #d00092;

    height: 100%;
    width: fit-content;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.avaliacao-simplificado-brecho-content {
    border: 1px solid #00d045;

    height: 60%;
    width: 100%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 4rem;
}

.parte-inferior-do-perfil-brecho-content {
    border: 1px solid #00d0c6;

    height: 60%;
    width: 100%;

    display: flex;
    flex-direction: column;
}

    /*CONTEUDO DO PRODUTOS DO BRECHÓ*/

.produtos-do-brecho-content {
    border: 1px solid #D08E00;

    height: 60%;
    width: 89%;

    display: flex;
    flex-direction: column;
}

.titulo-produtos-mais-ver-todos {
    border: 1px solid #D00000;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5%;


}

.produtos-exibidos-do-brecho-content {
    border: 1px solid #D00000;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}