
.container-alinhamento-componente {
    margin-top: -3%;
    /* border: 1px solid red; */
}

/* Seções (Informações adicionais, redes sociais, etc.) */
.container-secoes-dados {
    margin-bottom: 3%;
}

/* Cabeçalho das seções */
.container-alinhamento-titulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
    margin-left: 2%;
}

.container-alinhamento-titulo h4 {
    font-family: var(--tipografia_primaria);
    color: var(--cor_seis);
    font-weight: 600;
}

.container-alinhamento-titulo button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.container-alinhamento-titulo button:hover {
    opacity: 70%;
}

.container-alinhamento-titulo img {
    width: 90%;
}

/* Linha divisória */
.line-meu-perfil {
    border-bottom: 1px solid var(--cor_seis);
    opacity: 30%;
    padding-top: 1%;
}

/* Texto / conteúdo das seções */
.container-informacoes-edicao {
    margin-top: 1%;
    margin-bottom: 1%;
    /* border: 1px solid red; */
    margin-left: 2%;
}

.container-informacoes-edicao p {
    font-family: var(--tipografia_secundaria);
    color: var(--cor_seis);
    font-size: 90%;
    padding-top: 0.5%;
}

/* Botão de salvar alterações */
.alinhamento-button-salvar-alteracoes-meu-perfil {
    display: flex;
    align-items: end;
    justify-content: end;
}

.alinhamento-button-salvar-alteracoes-meu-perfil button {
    border: none;
    background-color: var(--cor_dois);
    color: var(--cor_quatro);
    font-family: var(--tipografia_secundaria);
    font-weight: 500;
    width: 15%;
    padding: 0.7%;
    border-radius: 2vw;
    cursor: pointer;
    transition: 0.4s;
}

.alinhamento-button-salvar-alteracoes-meu-perfil button:hover {
    background-color: var(--cor_dois_v_um);
}