.container_info_meu_perfil_chat {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 20%;

    margin-top: 2%;
    margin-bottom: 6%;

    border-radius: 1vw;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

    background-color: var(--cor_quatro);
}

.section_nome_info_meu_perfil_chat {

    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 90%;
    height: 50%;
}

.section_nome_info_meu_perfil_chat h5 {

    font-family: var(--tipografia_primaria);
    font-size: 0.8rem;
    font-weight: 650;

    color: var(--cor_seis);
}

.section_nome_info_meu_perfil_chat span {

    margin-top: 2%;
    font-family: var(--tipografia_primaria);
    font-size: 0.8rem;
    font-weight: 500;

    color: var(--cor_seis_v_um);
}