body {
    margin: 0;
}

.toda-a-tela-inteira {
    background-color: rgba(0, 0, 0, 0.692);

    height: 100vh;
    width: 100%;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;  

    display: flex;
    justify-content: center;
    align-items: center;
}

.pop-up-excluir-perfil-content {
    background-color: var(--cor_quatro);
    border-radius: 1.6rem;

    height: 49%;
    width: 35%;

    gap: 3%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.pop-up-excluir-perfil-content img {
    height: 6.2rem;
    width: 6.2rem;
}

.pop-up-excluir-perfil-content p {
    font-family: "Montserrat", sans serif;
    font-weight: 620;
    font-size: 1.2rem;
    color: var(--cor_seis);
}

.botoes-pop-up-exluir-perfil-content {
    /* border: 3px solid darkblue; */


    height: 21%;
    width: 76%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.sair-button-excluir-perfil {
    transition: 0.3s;
    
    height: 59%;
    width: 43%;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    border-radius: 4rem;
    border: none;
    
    background-color: var(--cor_dois);
    font-family: var(--tipografia_primaria);
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--cor_nove);
}

.excluir-button-excluir-perfil {
    transition: 0.3s;

    height: 59%;
    width: 43%;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    border-radius: 4rem;
    border: none;
    
    background-color: var(--cor_um);
    font-family: var(--tipografia_primaria);
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--cor_nove);
}

.sair-button-excluir-perfil:hover {
    background-color: var(--cor_dois_v_um);
}

.excluir-button-excluir-perfil:hover {
    background-color: var(--cor_um_v_dois);
}