.container_chat_informacoes {

    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

    display: flex;
    align-items: center;
    flex-direction: column;
    width: 30%;
    height: 100%;
    background-color: var(--cor_doze);
}

.container_chat_informacoes header {

    display: flex;
    align-items: end;
    width: 90%;
    height: 10%;
}

.titulo_conversas_chat {

    font-weight: 600;
    font-family: var(--tipografia_secundaria);
    font-size: 1.5rem;

    color: var(--cor_seis_v_um);
}

.barra_de_pesquisa {

    display: flex;
    align-items: center;
    width: 90%;
    height: 6%;

    margin-top: 2%;

    border-radius: 100vw;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    background-color: var(--cor_quatro);
}

.barra_de_pesquisa img {

    padding-left: 4%;
    padding-right: 2%;
    width: 12%;
}

.barra_de_pesquisa input {

    width: 85%;
    height: 100%;

    font-family: var(--tipografia_secundaria);
    font-size: 0.9rem;
    font-weight: 500;

    border-top-right-radius: 1vw;
    border-bottom-right-radius: 1vw;

    border: transparent;
    outline: none;

    color: var(--cor_seis_v_um);
    background-color: transparent;
}

.container_conversas_frequentes {

    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 90%;
    height: 30%;
}

.container_conversa_frequente {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    transition: 0.3s;
    cursor: pointer;

    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 0.5vw;

    width: 23%;
    height: 40%;
    background-color: var(--cor_quatro);
}

.container_conversa_frequente img {

    margin-top: -30%;
    width: 50%;
    border-radius: 100vw;
}

.container_conversa_frequente h5 {

    width: 70%;

    font-family: var(--tipografia_secundaria);
    font-size: 0.7rem;
    font-weight: 550;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    color: var(--cor_seis_v_um);
}

.sub_titulo_conversas_chat {

    display: flex;
    align-items: center;
    width: 90%;
    height: 10%;

    font-size: 0.8rem;
    font-family: var(--tipografia_secundaria);
    font-weight: 500;

    color: var(--cor_seis_v_um);
}

.container_contatos_chat {

    display: flex;
    flex-direction: column;

    width: 90%;
    height: 50%;
    overflow-y: scroll;
    scrollbar-width: none;
}

.container_contato_chat {

    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;

    transition: 0.3s;
    cursor: pointer;

    border-radius: 0.5vw;

    background-color: var(--cor_doze);
}

.container_contato_chat:hover {

    background-color: var(--cor_doze_v_um);
}

.container_contato_chat img {

    margin-left: 5%;
    margin-right: 5%;
    width: 15%;
    border-radius: 100vw;
}

.info_principal_contatos_chat {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    height: 100%;
}

.info_principal_contatos_chat h5 {

    width: 100%;

    font-size: 0.9rem;
    font-family: var(--tipografia_primaria);
    font-weight: 700;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    color: var(--cor_seis);
}

.info_principal_contatos_chat p {

    width: 100%;

    font-size: 0.7rem;
    font-family: var(--tipografia_primaria);
    font-weight: 500;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    color: var(--cor_seis_v_um);
}

.info_horario_contatos_chat {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    width: 20%;
    height: 100%;
}

.info_horario_contatos_chat h5 {

    font-size: 0.9rem;
    font-family: var(--tipografia_secundaria);
    font-weight: 500;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    color: var(--cor_seis_v_um);
}

.info_horario_contatos_chat span {

    display: flex;
    align-items: center;
    justify-content: center;

    width: 20%;

    border-radius: 100vw;

    font-size: 0.7rem;
    font-family: var(--tipografia_primaria);
    font-weight: 500;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    color: var(--cor_quatro);
    background-color: var(--cor_um);
}