/* Pop_up_cadastro_produto.css */

.pop-up-notificacao.sucesso {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 128, 0, 0.2); /* Fundo esverdeado suave */
  z-index: 999;
}

.pop-up-notificacao.sucesso .conteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
  height: 40%;
  border-radius: 1vw;
  box-shadow: rgba(0, 128, 0, 0.1) 0px 1px 3px 0px;
  background-color: #e6f4ea; /* Verde clarinho */
  color: var(--cor_um); /* Verde escuro */
}

.pop-up-notificacao.sucesso .gif-animation {
  width: 50%;

}
.pop-up-notificacao.sucesso p {
  font-size: 1.2rem;
  font-family: var(--tipografia_primaria);
  font-weight: 550;
}
