.alinhamento_conteudo_tela_sacola_geral {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 83vh;
}

.titulo_tela_sacola {

    display: flex;
    align-items: center;
    font-family: var(--tipografia_primaria);
    font-size: 2rem;
    font-weight: 650;

    height: 13%;
    width: 80%;

    color: var(--cor_seis);
}

.container_conteudo_sacola_geral {

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 80%;
    height: 82%;

    border-radius: 1vw;
    border: 0.1vw solid var(--cor_quatro);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

    background-color: var(--cor_quatro);
}

.container_produtos_na_sacola_geral {

    display: flex;
    flex-direction: column;

    overflow-y: scroll;
    scrollbar-width: none;

    width: 65%;
    height: 100%;
}

.container_produto_sacola_geral {

    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;

    cursor: pointer;
    border-radius: 1vw;
    width: 100%;
    min-height: 33%;
    background-color: transparent;
}

.container_produto_sacola_geral:hover {

    background-color: var(--cor_quatro_v_dois);
}

.container_imagem_do_produto_sacola_geral {

    display: flex;
    justify-content: center;
    align-items: center;

    width: 20%;
    height: 80%;

    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 1vw;
    border: 0.1vw solid var(--cor_nove_v_dois);

    background-color: var(--cor_nove_v_dois);
}

.container_imagem_do_produto_sacola_geral img {

    width: 70%;
}

.container_info_produto_sacola_geral {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    width: 75%;
    height: 75%;
}

.container_titulo_produto_sacola_geral {

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 95%;
    height: 25%;
}

.container_titulo_produto_sacola_geral button {

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;

    width: 7%;
    height: 100%;

    border: none;
    border-radius: 100vw;

    background-color: transparent;
}

.container_titulo_produto_sacola_geral button:hover {

    background-color: var(--cor_quatro_v_dois);
}

.container_titulo_produto_sacola_geral img {

    width: 60%;
}

.container_titulo_produto_sacola_geral h2 {

    width: 80%;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    font-family: var(--tipografia_primaria);
    font-weight: 600;
    font-size: 1.2rem;

    color: var(--cor_seis);
}

.container_info_extra_produto {

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    width: 95%;
    height: 40%;
}

.container_info_extra_produto p {

    font-size: 0.9rem;
    font-family: var(--tipografia_secundaria);
    font-weight: 450;

    color: var(--cor_seis_v_um);
}

.container_info_extra_produto span {

    color: var(--cor_seis);
}

.container_preco_produto_sacola_geral {

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 20%;
}

.container_preco_produto_sacola_geral p {

    font-family: var(--tipografia_primaria);
    font-size: 1.2rem;
    font-weight: 600;

    color: var(--cor_seis);
}

.container_contador_quantidade_produtos {

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 17%;
    height: 100%;

    border-radius: 100vw;
    border: 0.1vw solid var(--cor_nove_v_dois);

    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    background-color: var(--cor_nove_v_dois);
}

.container_contador_quantidade_produtos span{

    font-family: var(--tipografia_primaria);
    font-size: 1.2rem;
    font-weight: 550;

    color: var(--cor_seis);
}

.botao_diminuir_contador_sacola_geral{

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 0.3s;
    cursor: pointer;

    width: 30%;
    height: 100%;

    border-top-left-radius: 1vw;
    border-bottom-left-radius: 1vw;
    border: none;

    font-family: var(--tipografia_primaria);
    font-size: 1.5rem;
    font-weight: 650;

    color: var(--cor_seis);
    background-color: var(--cor_nove_v_dois);
}

.botao_diminuir_contador_sacola_geral:hover{

    background-color: var(--cor_doze_v_um);
}

.botao_aumentar_contador_sacola_geral{

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 0.3s;
    cursor: pointer;

    width: 30%;
    height: 100%;

    border-top-right-radius: 1vw;
    border-bottom-right-radius: 1vw;
    border: none;

    font-family: var(--tipografia_primaria);
    font-size: 1.5rem;
    font-weight: 650;

    color: var(--cor_seis);
    background-color: var(--cor_nove_v_dois);
}

.botao_aumentar_contador_sacola_geral:hover{

    background-color: var(--cor_doze_v_um);
}

.container_nenhum_item_sacola_geral {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.container_nenhum_item_sacola_geral img {

    width: 15%;
    margin-bottom: 7%;
}

.container_nenhum_item_sacola_geral span {

    width: 80%;

    text-align: center;

    font-family: var(--tipografia_secundaria);
    font-size: 1rem;
    font-weight: 525;

    color: var(--cor_seis_v_um);
}

.container_resumo_do_pedido_sacola_geral {

    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90%;
    width: 45%;

    border-left: 0.15vw solid var(--cor_oito_v_um);
}

.container_resumo_do_pedido_sacola_geral h3 {

    display: flex;
    align-items: center;
    width: 90%;
    height: 15%;
    font-family: var(--tipografia_primaria);
    font-size: 1.5rem;
    font-weight: 700;

    color: var(--cor_seis);
}

.container_texto_do_resumo_pedido {

    width: 90%;
    height: 30%;
}

.container_texto_do_resumo_pedido p {

    display: flex;
    align-items: center;
    width: 80%;
    height: 100%;
    font-family: var(--tipografia_secundaria);
    font-size: 1rem;
    font-weight: 600;

    color: var(--cor_seis_v_um);
}

.container_valores_sacola_geral {

    width: 90%;
    height: 50%;
}

.container_sub_total_sacola_geral {

    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 100%;
    height: 45%;
    padding-bottom: 3%;

    border-bottom: 0.1vw solid var(--cor_oito_v_um);
}

.container_sub_total_sacola_geral span {

    font-family: var(--tipografia_primaria);
    font-size: 1rem;
    font-weight: 650;

    color: var(--cor_seis_v_um);
}

.container_total_sacola_geral {

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 30%;
}

.container_total_sacola_geral span {

    font-family: var(--tipografia_primaria);
    font-size: 1.2rem;
    font-weight: 550;

    color: var(--cor_seis);
}

.container_botao_de_finalizar_compra {

    display: flex;
    align-items: center;
    width: 100%;
    height: 30%;
}

.container_botao_de_finalizar_compra button {

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 0.3s;
    cursor: pointer;

    width: 100%;
    height: 80%;

    font-family: var(--tipografia_secundaria);
    font-size: 1rem;
    font-weight: 500;

    border-radius: 100vw;
    border: 0.1vw solid var(--cor_um);

    color: var(--cor_quatro);
    background-color: var(--cor_um);
}

.container_botao_de_finalizar_compra img {

    width: 3%;
    margin-left: 2%;
}

.container_botao_de_finalizar_compra button:hover {

    border: 0.1vw solid var(--cor_um_v_dois);
    background-color: var(--cor_um_v_dois);
}