.alinhamento-pagina-escolha-cadastro {
    /* border: 1px solid red; */
    display: flex;
}

/* .ladoEsquerdo-container-escolha-cadastro{
    background-color: #E7E8CE;
    width: 40%;
    height: 90%;
    position: absolute;
    top: 5%;
    left: 5%;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: 1px solid red;
}

.info-ladoEsquerdo-escolha-cadastro{
    left: 27%;
    width: 50%;
}

.info-ladoEsquerdo-escolha-cadastro h1{
    transition: 0.3s;
    font-family: var(--tipografia_primaria);
    font-size: 2.2rem;
    width: 120%;
    margin-left: 50%;
    
    color: var(--cor_um);
}

.info-ladoEsquerdo-escolha-cadastro p{
    transition: 0.3s;
    width: 120%;
    margin-top: 10%;
    margin-bottom: 8%;
    font-family: var(--tipografia_secundaria);
    font-size: 1.25rem;
    color: var(--cor_um_v_um);
    margin-left: 42%;
    text-align: center;
}

.info-ladoEsquerdo-escolha-cadastro button{
    position: relative;
    top: 26px;
    border: none;
    border-radius: 30px;
    background-color: var(--cor_um);
    color: aliceblue;
    width: 65%;
    height: 50px;
    font-size: 1rem;
    margin-left: 69%;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.info-ladoEsquerdo-escolha-cadastro button:hover{
    border: 0.1vw solid var(--cor_um_v_dois);
    background-color: var(--cor_um_v_dois);
}

.estrelaMenor{
    margin-left: 95%;
    margin-top: 15%;
}
.estrelaGrande{
   padding-top: 10%;
} */

.ladoDireito-container-escolha-cadastro {
    margin-top: 1%;
    font-family: var(--tipografia_secundaria);
    /* border: 1px solid red; */
}

.ladoDireito-container-escolha-cadastro img {
    margin-left: 595px;
    /* border: 1px solid red; */
    cursor: pointer;
}

.ladoDireito-container-escolha-cadastro h1 {
    color: var(--cor_seis);
    font-size: 40px;
    /* border: 1px solid red; */
}

.ladoDireito-container-escolha-cadastro p {
    color: var(--cor_seis_v_um);
    font-size: 19px;
}

.escolha-container {
    padding-top: 6%;
    /* border: 1px solid red; */
}

.quero-comprar,
.quero-vender {
    display: flex;
    /* border: 1px solid red; */
}

.info-quero-comprar {
    display: block;
    padding-bottom: 2%;
    padding-left: 1%;
}

.info-quero-comprar h3 {
    font-weight: 550;
    color: var(--cor_seis_v_um);
}

.info-quero-comprar p {
    font-size: 14px;
    /* border: 1px solid red; */
}

.info-quero-vender {
    display: block;
    padding-top: 0.3%;
    padding-left: 1%;
}

.info-quero-vender h3 {
    font-weight: 550;
    color: var(--cor_seis_v_um);
}

.info-quero-vender p {
    font-size: 14px;
}

.cliente-brecho {
    appearance: none;
    -webkit-appearance: none;
    background-color: #EADCB0;
    border: none;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    cursor: pointer;
    position: relative;
    margin-top: 6px;
    margin-right: 10px;
    transition: 0.2s ease;
}

.cliente-brecho:checked::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 14px;
    height: 14px;
    background-color: #9DA650;
    border-radius: 50%;
}

.cliente-brecho:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(85, 107, 47, 0.3);
}

.container-button-mensagem-escolha-cadastro button{
    width: 27%;
    height: 48px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 10vw;
    border: none;
    font-family: var(--tipografia_secundaria);
    font-size: 1rem;

    color: var(--cor_quatro);
    background-color: var(--cor_um);
    margin-top: 6%;
    /* border: 1px solid red; */
}

.container-button-mensagem-escolha-cadastro button:hover{
    background-color: var(--cor_um_v_dois);
}

.container-button-mensagem-escolha-cadastro p{
    /* border: 1px solid red; */
    font-family: var(--tipografia_secundaria);
    font-size: 1rem;
    color: var(--cor_sete);

    margin-top: 2%;
}