.all-page-informacoes-alinhamento {
    display: flex;
    justify-content: flex-end;
    margin-top: 3%;
    padding-top: 1%;
    padding-right: 2%;
    width: 25%;
    height: 1200px;
}

.container-alinhamento-all-pages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container_conteudo_pesquisa_produtos {

    display: flex;
    width: 100%;
    height: 100%;
}

.alinhamento-resultados-pesquisa {
    /* border: 1px solid red; */
    width: 70%;
    margin-top: 4%;
}

.container_exibir_produtos {

    display: flex;
    flex-wrap: wrap;
    overflow-y: hidden;

    margin-top: 1%;
    padding-bottom: 1%;
    width: 100%;
    height: fit-content;

    /* border: 1px solid red; */
}

.resultados-de-pesquisa {
    /* border: 1px solid red; */
    width: 100%;
    font-family: var(--tipografia_primaria);
    color: var(--cor_seis);
    font-weight: 550;
    font-size: 100%;
    padding-left: 1%;
}

.container_produto {

    display: flex;
    flex-direction: column;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    transition: 0.3s;

    width: 22%;
    height: 40%;
    margin-right: 1%;
    margin-bottom: 3%;
    padding-bottom: 2%;

    border-radius: 1vw;
    border: none;
    background-color: transparent;
}

.container_produto:hover .container_produto_img {

    background-color: var(--cor_doze_v_um);
}

.container_produto:hover {

    background-color: var(--cor_quatro_v_dois);
}

.container_produto_img {

    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;

    width: 90%;
    height: 25vh;

    margin-top: 6%;
    margin-bottom: 5%;

    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 1vw;
    background-color: var(--cor_nove_v_dois);
}

.container_produto_img img {

    width: 60%;
}

.container_produto_titulo {

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

.container_produto_titulo img {

    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

    width: 13%;
    height: 3.5vh;
    border-radius: 100vw;
}

.container_produto_info {

    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 90%;
    height: 18%;
}

.container_produto_info h2 {

    width: 80%;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    font-size: 1.2rem;
    font-family: var(--tipografia_primaria);
    font-weight: 700;

    color: var(--cor_seis);
}

.container_produto_info span {

    font-size: 1.3rem;
    font-family: var(--tipografia_secundaria);
    font-weight: 700;

    color: var(--cor_seis);
}

.container_botoes_de_paginas {

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.container_alinhamento_do_conteudo_de_paginas {

    margin-right: 10.5%;
    width: 65%;
    display: flex;
    padding-top: 3%;
    padding-bottom: 3%;
    justify-content: space-between;
    border-top: 0.1vw solid var(--cor_oito);
}

.container_numero_de_paginas {

    display: flex;
    width: 25%;
    justify-content: center;
    align-items: center;
}

.container_numero_de_paginas span {

    font-family: var(--tipografia_primaria);
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--cor_seis);
}

.container_botao_voltar_pagina_esquerdo {

    display: flex;
    align-items: center;
    width: 6%;
}

.container_botao_voltar_pagina_esquerdo button {

    cursor: pointer;
    transition: 0.3s;

    width: 80%;
    padding-top: 20%;
    padding-bottom: 20%;

    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border: 0px;
    border-radius: 0.6vw;
    background-color: var(--cor_quatro);
}

.container_botao_voltar_pagina_esquerdo button:hover {

    background-color: var(--cor_quatro_v_dois);
}

.container_botao_voltar_pagina_direito {

    display: flex;
    align-items: center;
    width: 6%;
}

.container_botao_voltar_pagina_direito button {

    cursor: pointer;
    transition: 0.3s;

    width: 80%;
    padding-top: 20%;
    padding-bottom: 20%;

    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border: 0px;
    border-radius: 0.6vw;
    background-color: var(--cor_quatro);
}

.container_botao_voltar_pagina_direito button:hover {

    background-color: var(--cor_quatro_v_dois);
}

.container_nenhum_produto_buscar {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80vh;
}

.container_nenhum_produto_buscar img {

    width: 10%;
    margin-bottom: 2%;
}

.container_nenhum_produto_buscar p {

    text-align: center;
    width: 70%;
    font-family: var(--tipografia_primaria);
    font-size: 1.3rem;
    font-weight: 500;

    color: var(--cor_seis_v_um);
}