.container_chat_conversa {

    width: 62%;
    height: 100%;
    border-top-right-radius: 1vw;
    border-bottom-right-radius: 1vw;
    background-image: url("./img/fundo_chat_conversa.svg");
}

.container_header_chat_conversa {

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 15%;

    border-top-right-radius: 1vw;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    background-color: var(--cor_quatro);
}

.container_info_contato_conversando {

    display: flex;
    align-items: center;

    width: 65%;
    height: 100%;
}

.container_info_contato_conversando img {

    width: 10%;

    margin-left: 10%;
    margin-right: 5%;

    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 100vw;
}

.container_info_contato_conversando h2 {

    width: 100%;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    font-family: var(--tipografia_primaria);
    font-size: 1rem;
    font-weight: 700;

    color: var(--cor_seis);
}

.container_opcoes_conversa {

    display: flex;
    justify-content: center;
    align-items: center;

    width: 15%;
    height: 100%;
}

.container_opcoes_conversa button {

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    width: 25%;

    border: 0px;
    background-color: transparent;
}

.container_opcoes_conversa img {

    width: 100%;
}

.container_interagir_conversa {

    display: flex;
    align-items: center;
    width: 100%;
    height: 15%;

    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    background-color: var(--cor_quatro);
}

.container_input_chat_conversa {

    display: flex;
    align-items: center;
    justify-content: center;

    width: 75%;
    height: 100%;
}

.container_input_chat_conversa input {

    width: 90%;
    height: 35%;

    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border: 0px;
    border-radius: 100vw;

    padding-left: 2%;
    padding-right: 2%;
    outline: none;

    font-family: var(--tipografia_secundaria);
    font-size: 0.8em;
    font-weight: 500;

    color: var(--cor_seis_v_um);
    background-color: var(--cor_nove);
}

.container_botoes_chat_conversa {

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
    height: 100%;
}

.container_botoes_chat_conversa button {

    cursor: pointer;
    transition: 0.3s;

    width: 20%;
    height: 35%;

    border-radius: 100vw;
}

.botao_chat_conversa_clipe {

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border: 0.1vw solid var(--cor_quatro);
    background-color: var(--cor_quatro);
}

.botao_chat_conversa_clipe:hover {

    border: 1.1vw solid var(--cor_quatro_v_um);
}

.botao_chat_conversa_sorriso {

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border: 0.1vw solid var(--cor_quatro);
    background-color: var(--cor_quatro);
}

.botao_chat_conversa_sorriso:hover {

    border: 1.1vw solid var(--cor_quatro_v_um);
}

.botao_chat_conversa_enviar {

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border: 0.1vw solid var(--cor_um);
    background-color: var(--cor_um);
}

.botao_chat_conversa_enviar:hover {

    border: 1vw solid var(--cor_um_v_dois);
}

.container_nenhuma_conversa_selecionada {

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container_nenhuma_conversa_selecionada img {

    width: 5%;
    margin-bottom: 2%;
}

.container_nenhuma_conversa_selecionada p {

    text-align: center;

    width: 50%;
    font-family: var(--tipografia_primaria);
    font-size: 1rem;
    font-weight: 400;

    color: var(--cor_seis);
}