.home-page-secao-um-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-top: 4%;

    /* background: linear-gradient(to right, #FFFDF7 50%, transparent 100%); */
    position: relative;
}

.secao-um-texto-container-home-page {
    width: 50%;
    z-index: 2;
}

.secao-um-texto-container-home-page h1 {
    font-family: var(--tipografia_primaria);
    font-size: 2.8vw;
    font-weight: 800;
    color: var(--cor_seis);
    margin-bottom: 1.5rem;
    /* border: 1px solid blue; */
}

.secao-um-texto-container-home-page p {
    font-family: var(--tipografia_secundaria);
    font-size: 1rem;
    color: var(--cor_seis);
    opacity: 70%;
    margin-bottom: 2rem;
    /* border: 1px solid red; */
}

.secao-um-texto-container-home-page button {
    background-color: var(--cor_dois);
    color: white;
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 30px;
    font-family: var(--tipografia_secundaria);
    font-weight: 410;
    cursor: pointer;
    font-size: 100%;
    width: 28%;

    transition: 0.4s;
    /* border: 1px solid red; */
}

.secao-um-texto-container-home-page button:hover {
    background-color: var(--cor_dois_v_um);
}

/* Degrade de imagem */
.container-imagem-roupas-numero-um {
    width: 75%;
    height: 70vh;
    background-image: url('/img/imagens_telaInicial/ImagemRoupaUm.svg');
    background-size: cover;
}

.container-imagem-roupas-numero-um::before {
    content: "";
    position: absolute;
    inset: 0;
    background:
        linear-gradient(to right, var(--cor_quatro) 0.2%, transparent 50%),
        linear-gradient(to bottom, var(--cor_quatro) 0.2%, transparent 35%);
    z-index: 1;
    pointer-events: none;
    width: 75%;
    height: 91%;
    top: 9%;
    left: 43%;
}

.estrela-verde-home-page {
    position: absolute;
    z-index: 2;
    top: 6%;
    left: 92%;

    width: 5%;
}

.estrela-amarela-home-page {
    position: absolute;
    z-index: 2;
    top: 83%;
    left: 45%;
}

.line-home-page-secao-um {
    height: 6.5vh;
    background-color: var(--cor_um);
}

/* home page secao um */

/* home page secao dois */
.home-page-secao-dois-container {
    padding-top: 3%;
    padding-bottom: 3%;
    padding-right: 5%;
    padding-left: 5%;
    height: fit-content;
    /* border: 1px solid blue; */
}

.container-sinalizacao-brechos-home-page {
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
    margin-top: 4%;
}

.icon-quadrado-brechos-home-page {
    width: 1%;
    height: 4vh;
    background-color: var(--cor_um);
    border-radius: 0.2vw;
}

.container-sinalizacao-brechos-home-page p {
    font-family: var(--tipografia_primaria);
    color: var(--cor_um);
    padding-left: 0.7%;
    font-weight: 600;
    font-size: 90%;
    /* border: 1px solid red; */
}

.container-titulo-brechos-home-page {
   
    justify-content: center;
    align-items: center;
    display: flex;

    color: var(--cor_seis);
    font-family: var(--tipografia_primaria);
    font-size: 3.5rem;
    font-weight: 800;
}

.buttons-anterior-proximo-container-dois {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5%;
    /* border: 1px solid red; */
}

.container-brechos-cards-home-page {
    padding-top: 2%;
    display: flex;

    gap: 0.8%;
    /* border: 1px solid black; */
}

.card-brecho-home-page {
    width: 23%;
    height: 350px;
    flex: none;
    margin-right: 16px;
    /* border: 1px solid red; */
}

.container-imagem-brecho-cinza {
    background-color: var(--cor_doze);

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.5vw;
    height: 300px;
    width: 95%;
    cursor: pointer;
    transition: 0.4s;
    padding: 6.5%;

    /* border: 1px solid black; */
}

.container-imagem-brecho-cinza:hover {
    background-color: var(--cor_doze_v_um);
}

.container-imagem-brecho-cinza img {
    /* border: 1px solid red; */
    width: 100%;
    height: 250px;
    border-radius: 1.5vw;
}

.nome-brecho {
    font-family: var(--tipografia_primaria);
    font-size: 1.3rem;
    color: var(--cor_seis);
    height: fit-content;
    margin-bottom: 70%;
    margin-top: 4%;
    /* border: 1px solid red; */

}

.button-ver-todos-os-brechos-home-page {
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: 3%;
    /* border: 1px solid red; */
    margin-bottom: -5%;
}

.button-ver-todos-os-brechos-home-page button {
    border: none;
    background-color: var(--cor_um);
    color: var(--cor_doze);
    font-family: var(--tipografia_secundaria);
    font-size: 1rem;
    border-radius: 2vw;
    width: 12%;
    height: 3rem;
    padding: 0 1rem;
    transition: 0.4s;
    margin-bottom: 5%;
    cursor: pointer;
    /* border: 1px solid red; */
}

.button-ver-todos-os-brechos-home-page button:hover {
    background-color: var(--cor_um_v_dois);
}

.carousel-wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
}

/* home page secao dois */

/* home page secao tres */

.home-page-secao-tres-container {
    padding-top: 8%;
    padding-bottom: 3%;
    padding-right: 5%;
    padding-left: 5%;
    height: fit-content;
    /* border: 1px solid red; */
}

.container-sinalizacao-destaques-home-page {
    display: flex;
    align-items: center;
}

.icon-quadrado-destaques-home-page {
    width: 1%;
    height: 4vh;
    background-color: var(--cor_um);
    border-radius: 0.2vw;
}

.container-sinalizacao-destaques-home-page p {
    font-family: var(--tipografia_primaria);
    color: var(--cor_um);
    padding-left: 0.7%;
    font-weight: 600;
    font-size: 90%;
}

.home-page-titulo-secao-tres {
    justify-content: center;
    align-items: center;
    display: flex;

    color: var(--cor_seis);
    font-family: var(--tipografia_primaria);
    font-size: 3.5rem;
    font-weight: 800;
    padding-bottom: 2.5%;
}

.buttons-anterior-proximo-container-tres {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5%;
}

.container-cards-alinhamento-lancamentos-secao-tres {
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    /* border: 1px solid red; */

    width: 116.9%;
}

.card-lancamento-secao-tres {
    width: 22%;
    padding-top: 1.5%;
    padding-bottom: 2%;
    border-radius: 1.5vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: none;
    margin-right: 16px;
    /* border: 1px solid blue; */
    transition: 0.3s;
    cursor: pointer;
    background-color: var(--cor_quatro);
}

.card-lancamento-secao-tres:hover {

    background-color: var(--cor_quatro_v_dois);
}

.card-lancamento-secao-tres:hover .container-card-imagem-roupa-lancamentos {

    background-color: var(--cor_doze_v_um);
}

.alinhamento-img-perfil-nome-usuario-secao-tres {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-top: 3%;
    width: 90%;
}

.alinhamento-img-perfil-nome-usuario-secao-tres img {
    width: 12%;
    border-radius: 100vw;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    /* border: 1px solid black; */
}

.nome-brech-card-lancamento {
    padding-left: 2%;
    font-family: var(--tipografia_secundaria);
    font-size: 1rem;
    color: var(--cor_seis);
    font-weight: 450;
    text-decoration: none;
}

.container-card-imagem-roupa-lancamentos {
    width: 90%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

    background-color: var(--cor_nove_v_dois);
    border-radius: 1.5vw;
    /* border: 1px solid purple; */
    transition: 0.4s;
}

.container-card-imagem-roupa-lancamentos img {
    /* border: 1px solid black; */
    width: 75%;
}

.nome-roupa-lancamentos-card {
    font-family: var(--tipografia_primaria);
    font-size: 1.2rem;
    color: var(--cor_seis);
    font-weight: 660;

    width: 80%;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    padding-top: 2%;
}

.preco-roupa-lancamentos-card {
    font-family: var(--tipografia_secundaria);
    font-size: 1.4rem;
    color: var(--cor_seis);
    font-weight: 650;
    width: 90%;
}

.alinhamento-buttons-secao-tres-lancamentos {
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: 3%;
}

.alinhamento-buttons-secao-tres-lancamentos button {
    border: none;
    background-color: var(--cor_um);
    color: var(--cor_doze);
    font-family: var(--tipografia_secundaria);
    font-size: 1rem;
    border-radius: 2vw;
    width: 14%;
    height: 3rem;
    padding: 0 1rem;
    transition: 0.4s;
    cursor: pointer;
}

.alinhamento-preco-roupa-card-lancamento {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.alinhamento-buttons-secao-tres-lancamentos button:hover {
    background-color: var(--cor_um_v_dois);
}

/* home page secao tres */

/* home page secao quatro */
.home-page-container-secao-quatro {
    padding-top: 4%;
    padding-bottom: 3%;
    padding-right: 5%;
    padding-left: 5%;
    height: 150%;
}

.container-titulo-secao-quatro {
    justify-content: center;
    align-items: center;
    display: flex;

    color: var(--cor_seis);
    font-family: var(--tipografia_primaria);
    font-size: 3.5rem;
    font-weight: 800;
    padding-bottom: 3%;
}

.alinhamento-cards-secao-quatro {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.container-um-cards-secao-quatro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    padding-bottom: 2%;
}

.card-um-secao-quatro {
    width: 40%;
    height: 32.5vh;
    border-radius: 1vw;

    background-image:
        linear-gradient(to bottom, var(--cor_quatro) 10%, transparent 45%),
        url('/img/imagens_telaInicial/ImagemRoupaUm.svg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1vw;
    font-weight: bold;
    transition: all 0.3s ease-in-out;

    color: var(--cor_seis);
    font-family: var(--tipografia_primaria);
    font-size: 2rem;
    transition: 0.8s;
}

.card-um-secao-quatro:hover {
    width: 85%;
    margin-right: 2%;
    cursor: pointer;
}

.card-dois-secao-quatro {
    width: 58%;
    height: 32.5vh;
    border-radius: 1vw;

    background-image:
        linear-gradient(to bottom, var(--cor_quatro) 10%, transparent 45%),
        url('/img/imagens_telaInicial/CardImagemDoisTelaInicial.svg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1vw;
    font-weight: bold;
    transition: all 0.3s ease-in-out;

    color: var(--cor_seis);
    font-family: var(--tipografia_primaria);
    font-size: 2rem;
    transition: 0.8s;
}

.card-dois-secao-quatro:hover {
    width: 85%;
    margin-left: 2%;
    cursor: pointer;
}

.container-dois-cards-secao-quatro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
}

.card-tres-secao-quatro {
    width: 58%;
    height: 32.5vh;
    border-radius: 1vw;

    background-image:
        linear-gradient(to bottom, var(--cor_quatro) 10%, transparent 45%),
        url('/img/imagens_telaInicial/CardImagemTresTelaInicial.svg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1vw;
    font-weight: bold;
    transition: all 0.3s ease-in-out;

    color: var(--cor_seis);
    font-family: var(--tipografia_primaria);
    font-size: 2rem;
    transition: 0.8s;
}

.card-tres-secao-quatro:hover {
    width: 85%;
    margin-right: 2%;
    cursor: pointer;
}

.card-quatro-secao-quatro {
    width: 40%;
    height: 32.5vh;
    border-radius: 1vw;

    background-image:
        linear-gradient(to bottom, var(--cor_quatro) 10%, transparent 45%),
        url('/img/imagens_telaInicial/CardImagemQuatroTelaInicial.svg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1vw;
    font-weight: bold;
    transition: all 0.3s ease-in-out;

    color: var(--cor_seis);
    font-family: var(--tipografia_primaria);
    font-size: 2rem;
    transition: 0.8s;
}

.card-quatro-secao-quatro:hover {
    width: 85%;
    margin-left: 2%;
    cursor: pointer;
}

/* home page secao quatro */

/* home page secao cinco */
.home-page-secao-cinco-container {
    padding-top: 3%;
    padding-bottom: 3%;
    padding-right: 5%;
    padding-left: 5%;
    height: 60vh;
}

.container-sinalizacao-avalicacoes-home-page {
    display: flex;
    align-items: center;
}

.icon-quadrado-avaliacoes-home-page {
    width: 1%;
    height: 4vh;
    background-color: var(--cor_um);
    border-radius: 0.2vw;
}

.container-sinalizacao-avalicacoes-home-page p {
    font-family: var(--tipografia_primaria);
    color: var(--cor_um);
    padding-left: 0.7%;
    font-weight: 600;
    font-size: 90%;
}

.container-titulo-secao-cinco {
    justify-content: center;
    align-items: center;
    display: flex;

    color: var(--cor_seis);
    font-family: var(--tipografia_primaria);
    font-size: 3.5rem;
    font-weight: 800;
    padding-bottom: 2.5%;
}

.alinhamento-buttons-anterior-proximo {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 0.8%;
}

.button-anterior-carrossel {
    border: none;
    background-color: var(--cor_nove_v_dois);
    padding: 0.8%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2vw;

    transition: all 0.3s ease;
    cursor: pointer;
}

.button-anterior-carrossel:hover {

    background-color: var(--cor_doze_v_um);
}

.button-proximo-carrossel {
    border: none;
    background-color: var(--cor_nove_v_dois);
    padding: 0.8%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2vw;

    transition: all 0.3s ease;
    cursor: pointer;
}

.button-proximo-carrossel:hover {
    background-color: var(--cor_doze_v_um);
}

.container-alinhamento-avaliacoes {
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    gap: 3%;
}

.container-cards-alinhamento {
    width: 22.8%;
    height: auto;
    flex: none;
    /* margin-right: 16px; */
}

.home-page-card-avaliacoes {
    border: 2px solid color-mix(in srgb, var(--cor_seis) 20%, transparent);
    border-radius: 1vw;
    padding: 1.2%;
    padding-top: 3%;
    padding-left: 3%;
    width: 100%;
    min-height: 120%;
    max-height: 150%;
}

.alinhamento-imagem-perfil-usuario-nome-usuario {
    display: flex;
    align-items: center;
    gap: 3%;
    padding-bottom: 2%;
}

.alinhamento-imagem-perfil-usuario-nome-usuario img {
    width: 10%;
}

.nome-pessoa-avaliacoes {
    font-family: var(--tipografia_primaria);
    color: var(--cor_seis);
    font-weight: 700;
}

.comentario-avaliacao {
    font-family: var(--tipografia_secundaria);
    color: var(--cor_seis);
    font-size: 0.9rem;
}

@media (max-width: 768px) {
    .home-page-secao-um-container {
        flex-direction: column;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 8%;
        /* border: 1px solid red; */
    }

    .secao-um-texto-container {
        width: 100%;
        /* border: 1px solid red; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .secao-um-texto-container h1 {
        font-size: 10vw;
        /* border: 1px solid red; */
        display: flex;
        text-align: left;
    }

    .secao-um-texto-container p {
        /* border: 1px solid red; */
        display: flex;
        text-align: left;
    }

    .secao-um-texto-container button {
        width: 93%;
        padding-top: 5%;
        padding-bottom: 5%;
        /* border: 1px solid red; */
        height: 60px;
    }

    .container-imagem-roupas-numero-um {
        margin-top: -10%;
        width: 111%;
        height: 300px;
        background-position: center;
        /* border: 1px solid purple; */
        position: relative;
        /* necesario para que ::before se posicione correctamente */
    }

    .container-imagem-roupas-numero-um::before {
        content: '';
        /* necesario para que el pseudo-elemento aparezca */
        position: absolute;
        inset: 0;
        background-image: linear-gradient(to bottom, var(--cor_quatro) 0.2%, transparent 70%);
        z-index: 1;
        pointer-events: none;
        width: 100%;
        height: 100%;
        /* border: 1px solid blue; */
    }


    .estrela-verde-home-page,
    .estrela-amarela-home-page {
        display: none;
    }

    .home-page-secao-dois-container,
    .home-page-secao-tres-container {
        padding-right: 0%;
        /* border: 1px solid purple; */
    }

    .container-titulo-brechos-home-page,
    .home-page-titulo-secao-tres,
    .container-titulo-secao-quatro,
    .container-titulo-secao-cinco {
        font-size: 2rem;
        text-align: center;
        margin-top: 10%;
        /* border: 1px solid red; */
        padding-bottom: 8%;
    }

    .icon-quadrado-brechos-home-page,
    .icon-quadrado-destaques-home-page {
        display: none;
    }

    .container-sinalizacao-brechos-home-page p,
    .container-sinalizacao-destaques-home-page p {
        display: none;
    }

    .card-brecho-home-page {
        width: 80%;
        height: 350px;
        /* border: 1px solid red; */
    }

    .card-lancamento-secao-tres {
        width: 80%;
        height: auto;
        /* border: 1px solid black;; */
    }

    .alinhamento-buttons-secao-tres-lancamentos button,
    .button-ver-todos-os-brechos-home-page button {
        width: 60%;
        border-radius: 100vw;
        /* border: 1px solid red; */
        margin-top: 10%;
    }

    .nome-brecho,
    .nome-roupa-lancamentos-card,
    .preco-roupa-lancamentos-card {
        font-size: 130%;
    }

    .container-card-imagem-roupa-lancamentos {
        width: 100%;
        height: 300px;
        border-radius: 5vw;
        /* border: 1px solid black; */
    }

    .buttons-anterior-proximo-container-dois,
    .buttons-anterior-proximo-container-tres {
        /* border: 1px solid red; */
        width: 100%;
        padding-right: 3%;
    }

    .buttons-anterior-proximo-container-dois button,
    .buttons-anterior-proximo-container-tres button {
        /* border: 1px solid red; */
        padding: 2.5%;
        border-radius: 100vw;
        margin-left: 1.5%;
        margin-top: 2%;
    }

    .container-titulo-secao-quatro {
        /* border: 1px solid purple; */
        padding-bottom: 8%;
    }

    .alinhamento-cards-secao-quatro {
        /* border: 1px solid red; */
        display: flex;
        flex-direction: column;
        margin-bottom: 10%;
    }

    .container-um-cards-secao-quatro,
    .container-dois-cards-secao-quatro {
        /* border: 1px solid red; */
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .card-um-secao-quatro,
    .card-dois-secao-quatro,
    .card-tres-secao-quatro,
    .card-quatro-secao-quatro {
        width: 130%;
        height: 200px;
        /* border: 1px solid blue; */
        margin-bottom: 6%;
        border-radius: 5vw;
        padding: 3%;
    }

    .card-um-secao-quatro:hover,
    .card-dois-secao-quatro:hover,
    .card-tres-secao-quatro:hover,
    .card-quatro-secao-quatro:hover {
        width: 135%;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    }
}