
body{

    background-color: var(--cor_quatro);
}

.saudacoes_ao_admin{

    margin-top: 5%;
    margin-left: 6%;

    font-family: var(--tipografia_primaria);
    font-size: 2rem;

    color: var(--cor_seis);
}

.container_alinhamento_botoes_dashboard{

    display: flex;
    justify-content: space-evenly;

    margin-top: 5%;

    height: 30vh;

}

.dashboard_container_brechos{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    width: 17%;

    border-radius: 0.6vw;

    box-shadow: rgba(0, 0, 0, 0.02) 0px 2px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

    background-color: var(--cor_quatro);
}

.dashboard_container_brechos:hover {
  
    transition: 0.3s;
    background-color: var(--cor_um_v_dois);
}
  
  .dashboard_container_brechos:hover .sombra_dashboard_container_brechos {
  
    background-color: var(--cor_nove_v_um);
  }
  
  .dashboard_container_brechos:hover .dashboard_container_brechos_borda {
  
    background-color: var(--cor_nove);
  }

  .dashboard_container_brechos:hover .quantidade_de_brechos {
  
    color: var(--cor_nove);
  }

  .dashboard_container_produtos:hover .quantidade_de_produtos {
  
    color: var(--cor_nove);
  }

  .dashboard_container_brechos:hover span {
  
    color: var(--cor_nove);
  }  

.dashboard_container_brechos:not(:hover){

    transition: 0.3s;
}

.sombra_dashboard_container_brechos{

    display: flex;
    justify-content: center;
    align-items: center;

    width: 35%;
    height: 41%;

    border-radius: 100%;

    background-color: var(--cor_oito);
}

.dashboard_container_brechos_borda{

    display: flex;
    justify-content: center;

    width: 4.5vw;
    height: 9vh;

    border-radius: 100%;

    background-color: var(--cor_um);
}

.dashboard_container_brechos_img{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 65%;
}

.dashboard_container_brechos_borda img{

    width: 100%;
    height: 100%;
}

.quantidade_de_brechos{

    margin-top: 5%;

    font-family: var(--tipografia_secundaria);
    font-size: 2rem;
    font-weight: 700;

    color: var(--cor_seis);
}

.quantidade_de_clientes{

    margin-top: 5%;

    font-family: var(--tipografia_secundaria);
    font-size: 2rem;
    font-weight: 700;

    color: var(--cor_seis);
}

.quantidade_de_produtos{

    margin-top: 5%;

    font-family: var(--tipografia_secundaria);
    font-size: 2rem;
    font-weight: 700;

    color: var(--cor_seis);
}

.quantidade_de_categorias{

    margin-top: 5%;

    font-family: var(--tipografia_secundaria);
    font-size: 2rem;
    font-weight: 700;

    color: var(--cor_seis);
}

.dashboard_container_brechos span{

    font-family: var(--tipografia_secundaria);

    color: var(--cor_seis);
}

.dashboard_container_clientes{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    transition: 0.3s;
    cursor: pointer;
    width: 17%;

    border-radius: 0.6vw;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 2px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

    background-color: var(--cor_quatro);
}

.dashboard_container_clientes:hover{

    background-color: var(--cor_um_v_dois);
}

.dashboard_container_clientes:hover .quantidade_de_clientes{

    color: var(--cor_nove);
}

.dashboard_container_clientes:hover span{

    color: var(--cor_nove);
}

.dashboard_container_clientes:hover .sombra_dashboard_container_clientes{

    background-color: var(--cor_nove_v_um);
}

.dashboard_container_clientes:hover .dashboard_container_clientes_borda{

    background-color: var(--cor_nove);
}

.sombra_dashboard_container_clientes{

    display: flex;
    justify-content: center;
    align-items: center;

    width: 35%;
    height: 41%;

    border-radius: 100%;

    background-color: var(--cor_oito);
}

.dashboard_container_clientes_borda{

    display: flex;
    justify-content: center;

    width: 4.5vw;
    height: 9vh;

    border-radius: 100%;

    background-color: var(--cor_um);
}

.dashboard_container_clientes_img{

    width: 65%;
}

.dashboard_container_clientes_borda img{

    display: flex;

    width: 100%;
    height: 100%;
}

.dashboard_container_clientes h2{

    margin-top: 5%;

    font-family: var(--tipografia_secundaria);
    font-size: 2rem;

    color: var(--cor_seis);
}

.dashboard_container_clientes span{

    font-family: var(--tipografia_secundaria);

    color: var(--cor_seis);
}

.dashboard_container_produtos{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    width: 17%;

    border-radius: 0.6vw;
    
    box-shadow: rgba(0, 0, 0, 0.02) 0px 2px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

    background-color: var(--cor_quatro);
}

.sombra_dashboard_container_produtos{

    display: flex;
    justify-content: center;
    align-items: center;

    width: 35%;
    height: 41%;

    border-radius: 100%;

    background-color: var(--cor_oito);
}

.dashboard_container_produtos_borda{

    display: flex;
    justify-content: center;

    width: 4.5vw;
    height: 9vh;

    border-radius: 100%;

    background-color: var(--cor_um);
}

.dashboard_container_produtos_img{

    width: 65%;
}

.dashboard_container_produtos_borda img{

    display: flex;

    width: 100%;
    height: 100%;
}

.dashboard_container_produtos h2{

    margin-top: 5%;

    font-family: var(--tipografia_secundaria);
    font-size: 2rem;

    color: var(--cor_seis);
}

.dashboard_container_produtos span{

    font-family: var(--tipografia_secundaria);

    color: var(--cor_seis);
}

.dashboard_container_produtos:hover {
  
    transition: 0.3s;
    background-color: var(--cor_um_v_dois);
  }
  
  .dashboard_container_produtos:hover .sombra_dashboard_container_produtos {
  
    background-color: var(--cor_nove_v_um);
  }
  
  .dashboard_container_produtos:hover .dashboard_container_produtos_borda {
  
    background-color: var(--cor_nove);
  }

  .dashboard_container_produtos:hover h2 {
  
    color: var(--cor_nove);
  }

  .dashboard_container_produtos:hover span {
  
    color: var(--cor_nove);
  }  

.dashboard_container_produtos:not(:hover){

    transition: 0.3s;
}

.sombra_dashboard_container_produtos{

    display: flex;
    justify-content: center;
    align-items: center;

    width: 35%;
    height: 41%;

    border-radius: 100%;

    background-color: var(--cor_oito);
}

.dashboard_container_produtos_borda{

    display: flex;
    justify-content: center;

    width: 4.5vw;
    height: 9vh;

    border-radius: 100%;

    background-color: var(--cor_um);
}

.dashboard_container_produtos_img{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 65%;
}

.dashboard_container_produtos_borda img{

    width: 100%;
    height: 100%;
}

.dashboard_container_produtos h2{

    margin-top: 5%;

    font-family: var(--tipografia_secundaria);
    font-size: 2rem;

    color: var(--cor_seis);
}

.dashboard_container_produtos span{

    font-family: var(--tipografia_secundaria);

    color: var(--cor_seis);
}

.dashboard_container_categorias{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    transition: 0.3s;
    cursor: pointer;
    width: 17%;

    border-radius: 0.6vw;

    box-shadow: rgba(0, 0, 0, 0.02) 0px 2px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

    background-color: var(--cor_quatro);
}

.dashboard_container_categorias:hover{

    background-color: var(--cor_um_v_dois);
}

.dashboard_container_categorias:hover .quantidade_de_categorias{

    color: var(--cor_nove);
}

.dashboard_container_categorias:hover span{

    color: var(--cor_nove);
}

.dashboard_container_categorias:hover .sombra_dashboard_container_categorias{

    background-color: var(--cor_nove_v_um);
}

.dashboard_container_categorias:hover .dashboard_container_categorias_borda{

    background-color: var(--cor_nove);
}

.dashboard_container_categorias:hover .dashboard_container_categorias_img img{

    width: 70%;
}

.dashboard_container_marcas_img{
    width: 59%;
}

.sombra_dashboard_container_categorias{

    display: flex;
    justify-content: center;
    align-items: center;

    width: 35%;
    height: 41%;

    border-radius: 100%;

    background-color: var(--cor_oito);
}

.dashboard_container_categorias_borda{

    display: flex;
    justify-content: center;

    width: 4.5vw;
    height: 9vh;

    border-radius: 100%;

    background-color: var(--cor_um);
}

.dashboard_container_categorias_img{

    display: flex;
    align-items: center;
    justify-content: center;
    width: 65%;
}

.dashboard_container_categorias_borda img{

    display: flex;

    width: 100%;
    height: 100%;
}

.dashboard_container_categorias h2{

    margin-top: 5%;

    font-family: var(--tipografia_secundaria);
    font-size: 2rem;

    color: var(--cor_seis);
}

.dashboard_container_categorias span{

    font-family: var(--tipografia_secundaria);

    color: var(--cor_seis);
}

@media (max-width: 768px)  {
    
    .saudacoes_ao_admin{

        margin-top: 15%;
    
        font-family: var(--tipografia_primaria);
        font-size: 4rem;
    
        color: var(--cor_seis);
    }
    
    .container_alinhamento_botoes_dashboard{
    
        display: flex;
        justify-content: space-evenly;
    
        margin-top: 5%;
    
        height: 30vh;
        background-color: red;
    
    }
    
    .dashboard_container_brechos{
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
        cursor: pointer;
        width: 17%;
    
        box-shadow: rgba(0, 0, 0, 0.02) 0px 2px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    
        background-color: var(--cor_quatro);
    }
    
    .dashboard_container_brechos:hover {
      
        transition: 0.3s;
        background-color: var(--cor_um_v_dois);
      }
      
      .dashboard_container_brechos:hover .sombra_dashboard_container_brechos {
      
        background-color: var(--cor_nove_v_um);
      }
      
      .dashboard_container_brechos:hover .dashboard_container_brechos_borda {
      
        background-color: var(--cor_nove);
      }
    
      .dashboard_container_brechos:hover h2 {
      
        color: var(--cor_nove);
      }
    
      .dashboard_container_brechos:hover span {
      
        color: var(--cor_nove);
      }  
    
    .dashboard_container_brechos:not(:hover){
    
        transition: 0.3s;
    }
    
    .sombra_dashboard_container_brechos{
    
        display: flex;
        justify-content: center;
        align-items: center;
    
        width: 35%;
        height: 41%;
    
        border-radius: 100%;
    
        background-color: var(--cor_oito);
    }
    
    .dashboard_container_brechos_borda{
    
        display: flex;
        justify-content: center;
    
        width: 4.5vw;
        height: 9vh;
    
        border-radius: 100%;
    
        background-color: var(--cor_um);
    }
    
    .dashboard_container_brechos_img{
        display: flex;
        align-items: center;
        justify-content: center;
    
        width: 65%;
    }
    
    .dashboard_container_brechos_borda img{
    
        width: 100%;
        height: 100%;
    }
    
    .dashboard_container_brechos h2{
    
        margin-top: 5%;
    
        font-family: var(--tipografia_secundaria);
        font-size: 2rem;
    
        color: var(--cor_seis);
    }
    
    .dashboard_container_brechos span{
    
        font-family: var(--tipografia_secundaria);
    
        color: var(--cor_seis);
    }
    
    .dashboard_container_clientes{
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
        cursor: pointer;
        width: 17%;
    
        box-shadow: rgba(0, 0, 0, 0.02) 0px 2px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    
        background-color: var(--cor_quatro);
    }
    
    .sombra_dashboard_container_clientes{
    
        display: flex;
        justify-content: center;
        align-items: center;
    
        width: 35%;
        height: 41%;
    
        border-radius: 100%;
    
        background-color: var(--cor_oito);
    }
    
    .dashboard_container_clientes_borda{
    
        display: flex;
        justify-content: center;
    
        width: 4.5vw;
        height: 9vh;
    
        border-radius: 100%;
    
        background-color: var(--cor_um);
    }
    
    .dashboard_container_clientes_img{
    
        width: 65%;
    }
    
    .dashboard_container_clientes_borda img{
    
        display: flex;
    
        width: 100%;
        height: 100%;
    }
    
    .dashboard_container_clientes h2{
    
        margin-top: 5%;
    
        font-family: var(--tipografia_secundaria);
        font-size: 2rem;
    
        color: var(--cor_seis);
    }
    
    .dashboard_container_clientes span{
    
        font-family: var(--tipografia_secundaria);
    
        color: var(--cor_seis);
    }
    
    .dashboard_container_produtos{
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
        cursor: pointer;
        width: 17%;
    
        box-shadow: rgba(0, 0, 0, 0.02) 0px 2px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    
        background-color: var(--cor_quatro);
    }
    
    .sombra_dashboard_container_produtos{
    
        display: flex;
        justify-content: center;
        align-items: center;
    
        width: 35%;
        height: 41%;
    
        border-radius: 100%;
    
        background-color: var(--cor_oito);
    }
    
    .dashboard_container_produtos_borda{
    
        display: flex;
        justify-content: center;
    
        width: 4.5vw;
        height: 9vh;
    
        border-radius: 100%;
    
        background-color: var(--cor_um);
    }
    
    .dashboard_container_produtos_img{
    
        width: 65%;
    }
    
    .dashboard_container_produtos_borda img{
    
        display: flex;
    
        width: 100%;
        height: 100%;
    }
    
    .dashboard_container_produtos h2{
    
        margin-top: 5%;
    
        font-family: var(--tipografia_secundaria);
        font-size: 2rem;
    
        color: var(--cor_seis);
    }
    
    .dashboard_container_produtos span{
    
        font-family: var(--tipografia_secundaria);
    
        color: var(--cor_seis);
    }
    
    .dashboard_container_produtos:hover {
      
        transition: 0.3s;
        background-color: var(--cor_um_v_dois);
      }
      
      .dashboard_container_produtos:hover .sombra_dashboard_container_produtos {
      
        background-color: var(--cor_nove_v_um);
      }
      
      .dashboard_container_produtos:hover .dashboard_container_produtos_borda {
      
        background-color: var(--cor_nove);
      }
    
      .dashboard_container_produtos:hover h2 {
      
        color: var(--cor_nove);
      }
    
      .dashboard_container_produtos:hover span {
      
        color: var(--cor_nove);
      }  
    
    .dashboard_container_produtos:not(:hover){
    
        transition: 0.3s;
    }
    
    .sombra_dashboard_container_produtos{
    
        display: flex;
        justify-content: center;
        align-items: center;
    
        width: 35%;
        height: 41%;
    
        border-radius: 100%;
    
        background-color: var(--cor_oito);
    }
    
    .dashboard_container_produtos_borda{
    
        display: flex;
        justify-content: center;
    
        width: 4.5vw;
        height: 9vh;
    
        border-radius: 100%;
    
        background-color: var(--cor_um);
    }
    
    .dashboard_container_produtos_img{
        display: flex;
        align-items: center;
        justify-content: center;
    
        width: 65%;
    }
    
    .dashboard_container_produtos_borda img{
    
        width: 100%;
        height: 100%;
    }
    
    .dashboard_container_produtos h2{
    
        margin-top: 5%;
    
        font-family: var(--tipografia_secundaria);
        font-size: 2rem;
    
        color: var(--cor_seis);
    }
    
    .dashboard_container_produtos span{
    
        font-family: var(--tipografia_secundaria);
    
        color: var(--cor_seis);
    }
    
    .dashboard_container_categorias{
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
        cursor: pointer;
        width: 17%;
    
        box-shadow: rgba(0, 0, 0, 0.02) 0px 2px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    
        background-color: var(--cor_quatro);
    }
    
    .sombra_dashboard_container_categorias{
    
        display: flex;
        justify-content: center;
        align-items: center;
    
        width: 35%;
        height: 41%;
    
        border-radius: 100%;
    
        background-color: var(--cor_oito);
    }
    
    .dashboard_container_categorias_borda{
    
        display: flex;
        justify-content: center;
    
        width: 4.5vw;
        height: 9vh;
    
        border-radius: 100%;
    
        background-color: var(--cor_um);
    }
    
    .dashboard_container_categorias_img{
    
        width: 65%;
    }
    
    .dashboard_container_categorias_borda img{
    
        display: flex;
    
        width: 100%;
        height: 100%;
    }
    
    .dashboard_container_categorias h2{
    
        margin-top: 5%;
    
        font-family: var(--tipografia_secundaria);
        font-size: 2rem;
    
        color: var(--cor_seis);
    }
    
    .dashboard_container_categorias span{
    
        font-family: var(--tipografia_secundaria);
    
        color: var(--cor_seis);
    }
    
}