#root {
    overflow-x: hidden;
    min-height: 100vh;
    max-width: 100%;

    --cor_um: #466330;
    --cor_um_v_um: #466330b5;
    --cor_um_v_dois: #2d411f;
    --cor_um_v_tres: #466330c2;
    --cor_um_v_quatro: #46633053;
    --cor_um_v_cinco: #4663306a;
    --cor_dois: #9DA650;
    --cor_dois_v_um: #8f9749;
    --cor_dois_v_dois: #9da65058;
    --cor_tres: #E7E8CE;
    --cor_quatro: #FFFDF7;
    --cor_quatro_v_um: #e2e0da;
    --cor_quatro_v_dois: #f0eee9;
    --cor_quatro_v_tres: #fcf7e9;
    --cor_cinco: #E4CD80;
    --cor_seis: #3E2A21;
    --cor_seis_v_um: #3e2a219e;
    --cor_sete: #FF3333;
    --cor_sete_v_um: #ff333399;
    --cor_oito: #2f2e304d;
    --cor_oito_v_um: #0000001a;
    --cor_nove: #FFFFFF;
    --cor_nove_v_um: #ffffff96;
    --cor_nove_v_dois: #F0F0F0;
    --cor_dez: #5c5c5c;
    --cor_onze: #9D0000;
    --cor_doze: #F0EEED;
    --cor_doze_v_um: #e1e1e0;
    --cor_treze: #6d0000;
    --cor_quatorze: #ab9489;
    --cor_quinze: #FFF4D1;
    --cor_vinte: #DB4444;

    --tipografia_primaria: "Montserrat", serif;
    --tipografia_secundaria: "Poppins", serif;
}

.container-titulo-personalizacao {
    /* border: 1px solid red; */
    display: flex;
    padding-left: 6%;
    padding-top: 3%;

    margin-bottom: 3%;
    align-items: center;
}

.container-numero-de-fase-personalizacao {

    width: 3.5%;
    height: auto;

    background-color: var(--cor_dois);
    padding: 0.9%;
    border-radius: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container-numero-de-fase-personalizacao p {
    color: var(--cor_quatro);
    font-family: var(--tipografia_primaria);
    font-weight: 700;
    font-size: 120%;
}

.container-titulo-personalizacao h4 {
    padding-left: 1.5%;
    font-family: var(--tipografia_primaria);
    font-size: 135%;
    color: var(--cor_seis);
}

.container-escolhas-personalizacao {
    /* border: 1px solid red; */
    margin-bottom: 5%;
    display: flex;
}

.container-imagem-produto-personalizado {
    /* border: 1px solid red; */
    background-color: var(--cor_doze);

    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3%;
    margin-right: 4%;
    margin-left: 6%;
}

.container-conteudo-escolha-personalizacao {
    border: 1px solid blue;
    margin-right: 6%;
}

.container-titulo-descricao {
    /* border: 1px solid black; */
    margin-bottom: 2%;
}

.container-titulo-descricao h2 {
    /* border: 1px solid blue; */
    font-family: var(--tipografia_primaria);
    font-size: 200%;
    color: var(--cor_seis);
    font-weight: 650;
}

.container-preço-quantidade {
    /* border: 1px solid red; */
    margin-top: 1%;
    display: flex;
}

.container-preço-quantidade h4 {
    /* border: 1px solid red; */
    font-family: var(--tipografia_primaria);
    color: var(--cor_seis);
    font-size: 170%;
    font-weight: 650;
    margin-right: 55%;
    margin-bottom: 2%;
}

.container-contador-quantidade-produtos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 17%;
    height: 100%;

    border-radius: 100vw;
    border: 0.1vw solid var(--cor_nove_v_dois);

    /* box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; */
    background-color: var(--cor_nove_v_dois);
}

.container-contador-quantidade-produtos span {
    font-family: var(--tipografia_primaria);
    font-size: 1.2rem;
    font-weight: 550;

    color: var(--cor_seis);
}

.diminuir-quantidade-produtos {
    display: flex;
    align-items: center;
    justify-content: center;

    transition: 0.3s;
    cursor: pointer;

    width: 30%;
    height: 100%;

    border-top-left-radius: 1vw;
    border-bottom-left-radius: 1vw;
    border: none;

    font-family: var(--tipografia_primaria);
    font-size: 1.5rem;
    font-weight: 600;

    color: var(--cor_seis);
    background-color: var(--cor_nove_v_dois);
}

.diminuir-quantidade-produtos:hover {
    background-color: var(--cor_doze_v_um);
}

.aumentar-quantidade-produtos {
    display: flex;
    align-items: center;
    justify-content: center;

    transition: 0.3s;
    cursor: pointer;

    width: 30%;
    height: 100%;

    border-top-right-radius: 1vw;
    border-bottom-right-radius: 1vw;
    border: none;

    font-family: var(--tipografia_primaria);
    font-size: 1.5rem;
    font-weight: 600;

    color: var(--cor_seis);
    background-color: var(--cor_nove_v_dois);
}

.aumentar-quantidade-produtos:hover {
    background-color: var(--cor_doze_v_um);
}

.container-titulo-descricao p{
    /* border: 1px solid red; */
    color: var(--cor_seis);
    opacity: 85%;
    font-family: var(--tipografia_secundaria);
    font-size: 88%;

    margin-bottom: 1.5%;
}

.line-personalizar-produtos{
    border: 0.2px solid var(--cor_seis);
    opacity: 15%;
}

.container-opcoes-personalizacao{
    border: 1px solid red;
    margin-bottom: 2%;
}

.escolha-material{
    border: 1px solid red;
}

.escolha-material label{
    border: 1px solid black;
    font-family: var(--tipografia_secundaria);
    font-size: 82%;
    color: var(--cor_seis);
    font-weight: 450;
    opacity: 80%;
}

.container-alinhamento-button-personalizacao{
    border: 1px solid black;
    display: flex;
    padding-top: 1%;

    width: 50%;
}

.container-alinhamento-button-personalizacao button{
    border: none;
    background-color: var(--cor_doze);
    font-family: var(--tipografia_secundaria);
    color: var(--cor_seis);
    border-radius: 2vw;
    padding: 1%;

    transition: 0.4s;
    cursor: pointer;
}

.container-alinhamento-button-personalizacao button:hover{
    background-color: var(--cor_doze_v_um);
}