body {
    margin: 0;
}

.toda-a-tela {
    /* border: 3px solid #D08E00; */
    height: 120vh;
    width: 100%;
}

.tela-antes-da-div-central {
    /* border: 3px solid #18CA00; */
    background-color: transparent;

    height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.edicao-perfil-brecho-content {
    /* border: 3px solid #0C35FF; */
    border-radius: 25px;
    border: 0.1vw solid var(--cor_quatro);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    background-color: var(--cor_quatro);

    height: 94%;
    width: 80%;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

 /*---- Parte Esquerda do Pop Up ----*/

.parte-esquerda-div-central {
    /* border: 3px solid red; */

    height: 95%;
    width: 26%;
 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 4%;
    align-items: center;
}

.icone-voltar-verde-content {
    /* border: 3px solid purple; */

    width: 100%;
    height: 4%;

    display: flex;
    align-items: flex-start;
}

.logo-brecho-geral-content {
    /* border: 3px solid purple; */

    height: 45%;
    width: 95%;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
}

.icone-voltar-edicao-brecho {
    height: 1.4rem;
    width: 1.4rem;
    cursor: pointer;
}

.perfil-brecho-logo {
    /* border: 3px solid #00E69D; */
    border-radius: 1.7rem;
    background-color: var(--cor_dezesseis);
  
    height: 77%;
    width: 77%;
  
    display: flex;
    align-items: center;
    justify-content: center;
}

.perfil-brecho-logo img {
    height: 100%;
    width: 100%;
    border-radius: 1.7rem;
}

.info-horario-perfil-brecho {

    /* border: 3px solid #00E69D; */
    border-top: 3px solid var(--cor_nove_v_tres);

    height: 38%;
    width: 94%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3%;
}

.horario-preenchido-brecho {
    width: 100%;
    height: 66%;

    padding-left: 3%;
    border-radius: 0.3rem;
    resize: none;

    background-color: var(--cor_quatro);
    font-family: "Poppins", sans serif;
    font-size: 1rem;
    color: var(--cor_dezoito);
    border: 1px solid var(--cor_dois);

    outline: none;
}

.horario-preenchido-brecho:focus {
    border: 1px solid var(--cor_um_v_dois);
}

/*---- Parte DIREITA do Pop Up ----*/

.parte-direita-div-central {
    /* border: 3px solid red; */

    height: 95%;
    width: 69%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-edicao-brecho-content {
    /* border: 3px solid #026002; */

    height: 8%;
    width: 99%;

    display: flex;
    align-items: center;
    padding-left: 1.1%;
}

.titulo-edicao-brecho-content p {
    font-family: "Poppins", sans serif;
    font-weight: 495;
    font-size: 1.8rem;
    color: var(--cor_um);
}

.vendedor-info-content {
    /* border: 3px solid #026002; */

    height: 19%;
    width: 99%;

    display: flex;
    flex-direction: column;
}

.titulo-vendedor-info {
    /* border: 3px solid #F2D500; */

    height: 25%;
    width: 99%;

    display: flex;
    align-items: center;
    padding-left: 1.2%;
}

.titulo-vendedor-info p {
    font-family: "Poppins", sans serif;
    font-weight: 500;
    font-size: 1.3rem;
    color: var(--cor_dezoito);
}

.inputs-info-vendedor-content {
    /* border: 3px solid #F2D500; */

    height: 75%;
    width: 100%;

    display: flex;
    justify-content: space-between;
    background-color: var(--cor_quatro);
}

.input-info-vendedor-subDiv {
    /* border: 3px solid #C9057B; */

    height: 100%;
    width: 60%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 1%;
}

.titulo-do-input {
    font-family: "Poppins", sans serif;
    font-weight: 670;
    font-size: 1.1rem;
    color: var(--cor_dezoito);
}

.inputs-pequenos-infos {
    height: 51%;
    width: 94%;

    border-radius: 0.3rem;
    border: 1px solid var(--cor_dois);
    padding-left: 3%;
    background-color: var(--cor_quatro);

    font-family: "Poppins", sans serif;
    font-size: 1rem;

    outline: none;
}

.inputs-pequenos-infos:focus {
    border: 1px solid var(--cor_um_v_dois);
}

.brecho-info-content {
    /* border: 3px solid #026002; */
    border-top: 3px solid var(--cor_nove_v_tres);

    height: 34%;
    width: 99%;
    
    display: flex;
    flex-wrap: wrap;
}

.titulo-brecho-infos {
    /* border: 3px solid #026002; */

    height: 16%;
    width: 100%;

    display: flex;
    align-items: center;
    padding-left: 1.2%;
}

.titulo-brecho-infos p {
    font-family: "Poppins", sans serif;
    font-weight: 500;
    font-size: 1.3rem;
    color: var(--cor_dezoito);
}

.inputs-pequenos-infos-brecho {
    /* border: 3px solid #F2D500; */

    height: 42%;
    width: 50%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 1%;
    background-color: var(--cor_quatro);
}

.endereco-e-senha-infos-content {
    /* border: 3px solid #026002; */
   
    height: 40%;
    width: 99%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 1.2%;
}

.endereco-e-senha-infos-content button {
    height: 18%;
    width: 97%;

    border-radius: 0.3rem;
    border: 1px solid var(--cor_dois);
    padding-left: 1.4%;

    cursor: pointer;

    background-color: var(--cor_quatro);
    font-family: "Poppins", sans serif;
    font-size: 1rem;
    color: var(--cor_dezoito);

    text-align: left;
}

.endereco-e-senha-infos-content button:hover {
    background-color: var(--cor_quatro);
}

.input-nova-senha-container {
    border-radius: 0.3rem;
    border: 1px solid var(--cor_dois);

    height: 18%;
    width: 97%;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}

.inputs-senha-perfil {
    height: 100%;
    width: 100%;

    border: none;
    padding-left: 1.4%;
    background-color: var(--cor_quatro);

    font-family: "Poppins", sans serif;
    font-size: 1rem;

    outline: none;
}

.inputs-senha-perfil input:focus {
    border: 1px solid var(--cor_um_v_dois);
}

.input-nova-senha-container img {
    cursor: pointer;
    transition: 0.3s;

    width: 5.1%;
    margin-right: 3%;
    padding: 1%;

    border-radius: 100vw;

    background-color: transparent;
}

.input-nova-senha-container img:hover{

    background-color: var(--cor_quatro_v_um);
    width: 5%;
    height: 90%;
}

.mensagem-sucesso {
    height: fit-content;
    font-family: var(--tipografia_secundaria);
    font-size: 1em;
    font-weight: 550;
    letter-spacing: 0.5px;
    color: var(--cor_dois);
}

.botao-editar-content {
    /* border: 3px solid #026002; */

    height: 12%;
    width: 100%;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 4%;
    gap: 1%;
}

.mensagem-erro-perfil-brecho {
    font-family: var(--tipografia_secundaria);
    font-size: 1em;
    font-weight: 550;
    letter-spacing: 0.5px;
    color: var(--cor_sete);
}

.botao-editar-content button {
    height: 72%;
    width: 18%;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    border-radius: 4rem;
    border: none;
    background-color: var(--cor_um);
    font-family: "Poppins", sans serif;
    font-size: 1.1rem;
    color: var(--cor_nove);

}