.container_clientes_dashbord {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-alinhamento-imagem-titulo-usuarios-dashboard {
    width: 80%;
    padding-top: 2%;
}

.container-alinhamento-imagem-usuarios-dashboard {
    display: flex;
    justify-content: space-between;
}

.container-alinhamento-imagem-titulo-quantidade-usuarios-dashboard {
    display: flex;
    align-items: center;
    width: 13%;
    justify-content: space-between;
}

.fundo-cinza-imagem-usuarios-dashboard {
    width: 80%;
    height: 100%;
    border-radius: 2vw;
    background-color: var(--cor_dezesseis);

    justify-content: center;
    align-items: center;
    display: flex;
}

.fundo-verde-imagem-usuarios-dashboard {
    background-color: var(--cor_um);
    width: 75%;
    height: 75%;
    border-radius: 2vw;

    justify-content: center;
    align-items: center;
    display: flex;
}

.fundo-verde-imagem-usuarios-dashboard img {
    width: 72%;
}

.container-alinhamento-titulo-usuarios-dashboard {
    padding-left: 12%;
}

.titulo-um-usuarios-dashboard {
    font-family: var(--tipografia_primaria);
    font-size: 1.2rem;
    font-weight: 650;
    color: var(--cor_seis);
}

.numero-de-usuarios-dashboard {
    font-family: var(--tipografia_secundaria);
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--cor_um);
}

.container-sair-de-usuarios-dashboard {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.container-sair-de-usuarios-dashboard p {
    font-family: var(--tipografia_primaria);
    color: var(--cor_um);
    font-weight: 650;
    font-size: 1rem;
    margin-right: 7%;
}

.container-sair-de-usuarios-dashboard img {
    width: 30%;
}

.container_informacoes_clientes {

    width: 15.8%;
    display: flex;
}

.container_quantidade_de_clientes {

    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-left: 5%;
    width: 55%;
}

.container_quantidade_de_clientes h2 {

    font-family: var(--tipografia_primaria);
    font-size: 1.5rem;
    padding-bottom: 0px;

    color: var(--cor_seis);
}

.container_quantidade_de_clientes span {

    font-family: var(--tipografia_primaria);
    font-size: 1.7rem;
    font-weight: bold;

    color: var(--cor_um);
}

.container_sombra_para_visualizar_pop_up {

    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: #00000083;
}

.container_tabela_cliente_alinhamento {

    width: 100%;

    display: flex;
    justify-content: center;
}

.container_tabela_clientes {

    width: 80%;
    height: 10%;

    border-top-left-radius: 2vw;
    border-top-right-radius: 2vw;
    margin-bottom: 5%;


    margin-top: 3%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);

    border-bottom-left-radius: 2vw;
    border-bottom-right-radius: 2vw;
}

.container_tabela_clientes_header {

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-top: 2.8%;
    padding-bottom: 2%;

    border-top-left-radius: 2vw;
    border-top-right-radius: 2vw;

    background-color: var(--cor_um);
    /* border: 1px solid blue; */
}

.container_barra_de_pesquisa {

    display: flex;
    align-items: center;

    cursor: text;

    width: 38%;
    padding-top: 0.8%;
    padding-bottom: 0.8%;

    padding-left: 1.5%;
    margin-left: 3%;

    border-radius: 15vw;
    background-color: var(--cor_quatro);
}

.container_barra_de_pesquisa input {

    width: 90%;
    height: 50%;

    font-family: var(--tipografia_secundaria);
    font-size: 0.9rem;

    margin-left: 3%;
    border: 0px;
    outline: none;

    background-color: transparent;
}

.container_excluir_usuario {

    display: flex;
    align-items: center;
    justify-content: center;

    width: 4%;
    height: 6vh;
    margin-right: 3%;

}

.container_excluir_usuario button {

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    width: 100%;
    height: 100%;

    border: 0px;
    border-radius: 100%;

    padding: 0px;

    font-family: var(--tipografia_secundaria);
    font-size: 1.4rem;

    color: var(--cor_nove);
    background-color: var(--cor_onze);
}

.container_excluir_usuario button:hover {

    background-color: var(--cor_treze);
}

.container_excluir_usuario img {
    width: 35%;
}

.container_separacao_de_informacoes_e_da_scrollbar {

    display: flex;
    justify-content: space-between;

    height: 30vw;

    border-bottom-left-radius: 2vw;
    border-bottom-right-radius: 2vw;

    /* box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px; */
    background-color: var(--cor_quatro);
    /* border: 1px solid red; */
}

.container_alinhamento_de_informacoes_tabela_clientes {

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    overflow-y: scroll;
    scrollbar-color: var(--cor_um) var(--cor_quatro);

}

.container_titulos_da_tabela_clientes {

    display: flex;
    flex-direction: column;
    width: 100%;
}

.container_titulo_principal_tabela_clientes {

    margin-top: 2%;
    margin-bottom: 3%;

    font-family: var(--tipografia_primaria);
    font-size: 0.8rem;
    font-weight: bold;

    color: var(--cor_seis);
}

.container_titulos_informacoes_tabela_clientes {

    display: flex;
    align-items: center;

    height: 5vh;
    width: 100%;

    font-family: var(--tipografia_secundaria);
    font-size: 1rem;
    font-weight: 500;

    color: var(--cor_nove);
    background-color: var(--cor_um);

    display: flex;
    justify-content: space-between;

    padding-left: 3.5%;
    padding-top: 2%;
    padding-bottom: 2.5%;
    padding-right: 5%;
}

.titulo_dashboard_nome {
    width: 30%;
    /* border: 1px solid red; */
}

.titulo_dashboard_email {
    width: 23%;
    display: flex;
    justify-content: center;
    /* border: 1px solid blue; */
}

.titulo_dashboard_telefone {

    width: 15%;
    display: flex;
    justify-content: center;
    /* border: 1px solid black; */
}

.titulo_dashboard_cep {
    width: 15%;
    display: flex;
    justify-content: center;
    /* border: 1px solid purple; */
}

.titulo_dashboard_senha {

    display: flex;
    justify-content: center;
    /* border: 1px solid red; */
    width: 15%;
}

.container_tabela_clientes_resultados {

    display: flex;
    width: 93%;
    /* border: 1px solid blue; */
    height: 100%;
    justify-content: space-between;
}

.b {
    width: 100%;
}

.container_colunas_serie_a {

    display: flex;
    align-items: center;

    width: 100%;
    height: 20%;
    margin-top: 0.5%;
    /* border-top: 1px solid #0000003f;
    border-left: 1px solid #0000003f; */
    border-bottom: 1px solid #0000003f;

    background-color: var(--cor_quatro);

    /* border: 1px solid red; */
}

.container_coluna_imagem_de_perfil_cliente {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 6%;
    height: 100%;
}

.container_coluna_imagem_de_perfil_cliente img {
    /* border: 1px solid red; */

    width: 80%;
    border-radius: 100vw;
}

.container_colunas_serie_b {

    display: flex;
    text-align: center;
    align-items: center;

    width: 93.4%;
    height: 100%;

    font-family: var(--tipografia_secundaria);
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--cor_seis);
    /* border: 1px solid purple; */
}

.container_coluna_nome_cliente {
    font-family: var(--tipografia_secundaria);
    font-size: 0.9rem;
    color: var(--cor_seis);
    font-weight: 450;
    /* border: 1px solid red; */
    width: 29%;

    display: flex;
    justify-content: flex-start;
    padding-left: 1.5%;
}

.container_coluna_email_cliente {
    font-family: var(--tipografia_secundaria);
    font-size: 0.9rem;
    color: var(--cor_seis);
    font-weight: 450;
    /* border: 1px solid red; */
    text-overflow: ellipsis;
    overflow: hidden;
    width: 25%;

    margin-left: 0.5%;
}

.container_coluna_telefone_cliente {
    font-family: var(--tipografia_secundaria);
    font-size: 0.9rem;
    color: var(--cor_seis);
    font-weight: 450;
    /* border: 1px solid purple; */
    justify-content: center;
    align-items: center;
    display: flex;
    width: 18.7%;
    margin-left: 0.5%;

    text-overflow: ellipsis;
    overflow: hidden;
}

.container_coluna_senha_cliente {
    font-family: var(--tipografia_secundaria);
    font-size: 0.9rem;
    color: var(--cor_seis);
    font-weight: 450;
    /* border: 1px solid blue; */
    justify-content: center;
    align-items: center;
    display: flex;
    width: 17%;
    margin-left: 0.5%;

    text-overflow: ellipsis;
    overflow: hidden;
}

.container_coluna_cpf_cliente{
    font-family: var(--tipografia_secundaria);
    font-size: 0.9rem;
    color: var(--cor_seis);
    font-weight: 450;
    /* border: 1px solid blue; */
    justify-content: center;
    align-items: center;
    display: flex;
    width: 19%;
    margin-left: 0.5%;

    text-overflow: ellipsis;
    overflow: hidden;
}

/* .container_colunas_serie_c {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 19.9%;

    font-family: var(--tipografia_secundaria);
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--cor_seis);

    margin-top: 9.5%;
    border-bottom: 1px solid #0000003f;

    background-color: var(--cor_quatro);
} */

.botao-excluir-individual-cliente {
    width: 1.6%;
    background-color: transparent;
    cursor: pointer;
    border: none;
}

.botao-excluir-individual-cliente img {
    width: 100%;
}