
/*  Tela na Desktop  */

.footer-content {
    background-color: var(--cor_tres);
    width: 100%;
    height: 480px;
    /* position: fixed;  tirar futuramenta, pois pode ficar por cima de outras divs */
    left: 0;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}


.conteudo-geral-meio {
    /* border: 1px solid purple;  */
    width: 88%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 5px;
}

.parte-de-cima-content {
    /* border: 1px solid #ff0396; */
    width: 88%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.logo-mais-descricao-content {
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    width: 17%;
    height: 93%;
}

.logo-e-titulo {
    display: flex;
    align-items: center;
    font-family: "Poppins";
    font-size: 16px;
}

.logo-e-titulo h3 {
    font-family: "Montserrat", bold;
    color: var(--cor_dois);
    font-size: 36px;
    cursor: default;
}

.descricao-footer {
    font-family: "Poppins";
    font-size: 16px;
    color: var(--cor_dez);
    cursor: default;
}

.logo-footer {
    width: 117.35px;
    height: 126.1px;

}

.menu-content {
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    width: 18%;
    /* height: 90%; */
    justify-content: space-evenly;
    gap: 9px;
}

.menu-content h3 {
    font-family: "Montserrat", bold;
    color: var(--cor_um);
    font-size: 16px;
    letter-spacing: 3px;
    cursor: default;
}

.menu-content a {
    color: var(--cor_dez);
    text-decoration: none;
    font-family: "Poppins";

}

.ajuda-content {
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    width: 18%;
    /* height: 90%; */
    justify-content: space-evenly;
    gap: 9px;
}

.ajuda-content h3 {
    font-family: "Montserrat", bold;
    color: var(--cor_um);
    font-size: 16px;
    letter-spacing: 3px;
    cursor: default;
}

.ajuda-content a {
    color: var(--cor_dez);
    text-decoration: none;
    font-family: "Poppins";
    font-size: 16px;
}

.FAQ-content {
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    width: 18%;
    /* height: 90%; */
    justify-content: space-evenly;
    gap: 9px;
}

.FAQ-content h3 {
    font-family: "Montserrat", bold;
    color: var(--cor_um);
    font-size: 16px;
    letter-spacing: 3px;
    cursor: default;
}

.FAQ-content a {
    color: var(--cor_dez);
    text-decoration: none;
    font-family: "Poppins";
}

.linha-footer {
    border-bottom: 2px var(--cor_quatorze) solid;
    width: 92%;
    opacity: 20%;
}

.parte-de-baixo-content {
    /* border: 1px solid #ff0396; */
    width: 88%;
    height: 20%;
    display: flex;
    align-items: center;
}

.rede-social-footer-content {
    /* border: 1px solid #00FF90; */
    width: 16%;
    height: 79%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 3.5%;
}

.rede-social-footer-content a {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cor_quatro);
    border-radius: 50%;
    border: 1px solid #CCCAC6;
}

.rede-social-footer-content img {
    width: 20px;
    height: 20px;
}

/* Responsividade - Tela no Mobile*/

@media screen and (min-width: 406px) and (max-width: 914px) {
    .footer-content {
        background-color: var(--cor_tres);
        width: 100%;
        height: 700px;
        /* position: fixed; */
        left: 0;
        bottom: 0;

        display: flex;
        justify-content: center;
        align-items: center;
    }
    

    .conteudo-geral-meio {
        /* border: 1px solid purple;  */
        width: 98%;
        height: 83%;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .parte-de-cima-content {
        /* border: 1px solid #ff0396; */
        width: 98%;
        height: 80%;
        display: flex;
        flex-direction: column;
        /* justify-content: flex-start; */
    }

    .logo-mais-descricao-content {
        /* border: 1px solid blue; */
        display: flex;
        flex-direction: column;
        width: 97%;
        height: 42%;
    }

    .logo-e-titulo {
        display: flex;
        align-items: center;
        width: 92%;
        font-family: "Poppins";
        font-size: 16px;
    }

    .logo-e-titulo h3 {
        font-family: "Montserrat", bold;
        color: var(--cor_dois);
        font-size: 36px;
        cursor: default;
    }

    .descricao-footer {
        font-family: "Poppins";
        font-size: 16px;
        width: 92%;
        padding-left: 3%;
        color: var(--cor_dez);
        text-align: justify;
        cursor: default;
    }

    .logo-footer {
        width: 117.35px;
        height: 126.1px;

    }

    .menu-content {
        /* border: 1px solid blue; */
        width: 97%;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding-left: 3%;
        gap: 3px;

        transition: 0.3s;
    }

    .menu-content h3 {
        font-family: "Montserrat", bold;
        color: var(--cor_um);
        font-size: 16px;
        letter-spacing: 3px;
        cursor: default;
    }

    .menu-content a {
        color: var(--cor_dez);
        text-decoration: none;
        font-family: "Poppins";

    }

    .ajuda-content {
        /* border: 1px solid blue; */
        width: 97%;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding-left: 3%;
        gap: 3px;

        transition: 0.3s;
    }

    .ajuda-content h3 {
        font-family: "Montserrat", bold;
        color: var(--cor_um);
        font-size: 16px;
        letter-spacing: 3px;
        cursor: default;
    }

    .ajuda-content a {
        color: var(--cor_dez);
        text-decoration: none;
        font-family: "Poppins";
        font-size: 16px;
    }

    .FAQ-content {
        /* border: 1px solid blue; */
        width: 97%;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding-left: 3%;
        gap: 3px;

        transition: 0.3s;
    }

    .FAQ-content h3 {
        font-family: "Montserrat", bold;
        color: var(--cor_um);
        font-size: 16px;
        letter-spacing: 3px;
        cursor: default;
    }

    .FAQ-content a {
        color: var(--cor_dez);
        text-decoration: none;
        font-family: "Poppins";
    }

    .linha-footer {
        border-bottom: 2px var(--cor_quatorze) solid;
        width: 92%;
        opacity: 20%;
    }

    .parte-de-baixo-content {
        /* border: 1px solid #ff0396; */
        width: 98%;
        height: 13%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .rede-social-footer-content {
        /* border: 1px solid #00FF90; */
        width: 42%;
        height: 55%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-left: 3.5%;
    }

    .rede-social-footer-content a {
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--cor_quatro);
        border-radius: 50%;
        border: 1px solid #CCCAC6;
    }

    .rede-social-footer-content img {
        width: 20px;
        height: 20px;
    }
}