.container-ir-para-tela-login-alinhamento {
    width: 45%;
    height: 100vh;

    align-items: center;
    justify-content: center;
    display: flex;

    /* border: 1px solid red; */
}

.container-informacoes-login-cadastro-brecho {
    width: 80%;
    height: 90vh;
    border-radius: 25px;
    background-color: var(--cor_tres);

    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    z-index: 100;

    /* border: 1px solid blue; */
}

.container-informacoes-login-cadastro-brecho h1 {
    font-family: var(--tipografia_primaria);
    font-size: 2rem;
    width: 65%;
    color: var(--cor_um);
    letter-spacing: 1px;
    line-height: 45px;
    font-weight: bold;
    text-align: center;

    padding-bottom: 4%;
}

.container-informacoes-login-cadastro-brecho p {
    font-family: var(--tipografia_secundaria);
    color: var(--cor_um);
    opacity: 75%;
    width: 50%;
    text-align: center;
    font-weight: 400;
    letter-spacing: 0.5px;

    padding-bottom: 5%;
}

.container-informacoes-login-cadastro-brecho button {
    width: 25%;
    height: 7%;

    cursor: pointer;

    transition: 0.3s;

    border-radius: 10vw;
    border: none;

    font-family: var(--tipografia_secundaria);
    font-size: 1rem;

    color: var(--cor_quatro);
    background-color: var(--cor_dois);
}

.container-informacoes-login-cadastro-brecho button:hover {
    transition: 0.3s;
    background-color: var(--cor_dois_v_um);
}

.estrela-um-cadastro {
    padding-left: 95%;
    padding-bottom: 5%;
}

.estrela-dois-cadastro {
    padding-right: 90%;
}

.alinhamento-fases-container-cadastro {
    display: flex;
    /* border: 1px solid red; */
}

.alinhamento-elipses-logo {
    display: flex;
    height: fit-content;

    align-items: center;
    justify-content: space-between;

    margin-top: 4%;
    width: 48vw;
    /* border: 1px solid red; */
}

.elipse-container {
    height: fit-content;
    width: 13%;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

/* FORMULARIO UM INPUTS CADASTRO BRECHO  */
.container-formulario-um-cadastro-brecho {
    width: 70%;
    /* border: 1px solid red; */
}

.container-formulario-um-cadastro-brecho h1 {
    font-family: var(--tipografia_primaria);
    color: var(--cor_seis);
    width: fit-content;
    letter-spacing: 1px;

    margin-top: -1.5vw;
}

.container-formulario-um-cadastro-brecho p {
    font-family: var(--tipografia_secundaria);
    letter-spacing: 0.5px;
    color: var(--cor_seis);
    opacity: 85%;
    font-size: 105%;
    padding-top: 1%;
}

.inputs-formulario-um-cadastro-brecho {
    display: flex;
    flex-direction: column;
    padding-top: 2%;
    /* border: 1px solid red; */
}

.inputs-formulario-um-cadastro-brecho label {
    margin-top: 2.5%;
    margin-bottom: 1%;

    font-family: var(--tipografia_secundaria);
    font-size: 1rem;
    font-weight: bold;

    color: var(--cor_seis_v_um);
}

.inputs-formulario-um-cadastro-brecho span {
    color: var(--cor_sete);
}

.inputs-formulario-um-cadastro-brecho input {
    width: 82%;
    height: 3vw;
    background-color: transparent;
    border: 0.1vw solid var(--cor_dois);
    font-family: var(--tipografia_secundaria);
    color: var(--cor_seis);
    padding-left: 1%;
    border-radius: 0.6vw;
}

.inputs-formulario-um-cadastro-brecho input::placeholder {
    color: var(--cor_seis);
    opacity: 75%;
}

.inputs-formulario-um-cadastro-brecho input:focus {
    outline: none;
    border: 0.1em solid var(--cor_um);
}

.inputs-formulario-dois-cadastro-brecho {
    display: flex;
    flex-direction: column;
    padding-top: 2%;
}

.inputs-formulario-dois-cadastro-brecho label {
    margin-top: 2.5%;
    margin-bottom: 1%;

    font-family: var(--tipografia_secundaria);
    font-size: 1rem;
    font-weight: bold;

    color: var(--cor_seis_v_um);
    /* border: 1px solid red; */
}

.span-obrigatoria-cadastro-brecho-dois {
    color: var(--cor_sete);
}

.inputs-formulario-dois-cadastro-brecho input {
    width: 82%;
    height: 3vw;
    background-color: transparent;
    border: 0.1vw solid var(--cor_dois);
    font-family: var(--tipografia_secundaria);
    color: var(--cor_seis);
    padding-left: 1%;
    border-radius: 0.6vw;
}

.inputs-formulario-dois-cadastro-brecho input:focus {
    outline: none;
    border: 0.1em solid var(--cor_um);
}

.inputs-formulario-dois-cadastro-brecho input::placeholder {
    color: var(--cor_seis);
    opacity: 75%;
}

.adicionar-imagem-perfil-cadastro-brecho {
    display: flex;
    width: 88%;
    justify-content: space-between;
    /* border: 1px solid red; */
    margin-left: -2%;
}

.adicionar-imagem-perfil-cadastro-brecho label{
    /* border: 1px solid red; */
    margin-left: 2%;
}

.adicionar-imagem-perfil-cadastro-brecho span {
    color: var(--cor_sete);
}

.adicionar-imagem-perfil-cadastro-brecho img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    border: none;
    /* border: 1px solid red; */
}

/* .container-inputs-cadastro-brecho-tres{
    border: 1px solid red;
    width: fit-content;
    display: flex;
    flex-direction: column;
} */

.span-obrigatorio-cadastro-brecho-tres {
    color: var(--cor_sete);
}

.container-inputs-cadastro-brecho-tres label {
    margin-top: 1.5%;
    margin-bottom: 1%;

    font-family: var(--tipografia_secundaria);
    font-size: 1rem;
    font-weight: bold;

    color: var(--cor_seis_v_um);

    display: flex;
}

.container-inputs-cadastro-brecho-tres input {
    width: 57%;
    height: 3vw;
    background-color: transparent;
    border: 0.1vw solid var(--cor_dois);
    font-family: var(--tipografia_secundaria);
    color: var(--cor_seis);
    padding-left: 1%;
    border-radius: 0.6vw;
}

.container-inputs-cadastro-brecho-tres input:focus {
    outline: none;
    border: 0.1em solid var(--cor_um);
}

.container-inputs-cadastro-brecho-tres input::placeholder {
    color: var(--cor_seis);
    opacity: 75%;
}

.input-estado-cidade-cadastro-tres {
    display: flex;
    flex-direction: column;
}

.container-estado-cidade-cadastro-tres {
    display: flex;
    width: 25vw;
    /* border: 1px solid red; */
    justify-content: space-between;
}

.container-estado-cidade-cadastro-tres label {

    display: flex;
    flex-direction: column;
    margin-top: 3.5%;
    margin-bottom: 1%;

    font-family: var(--tipografia_secundaria);
    font-size: 1rem;
    font-weight: bold;

    color: var(--cor_seis_v_um);
}

.container-estado-cidade-cadastro-tres input {
    width: 124%;
    height: 3vw;
    background-color: transparent;
    border: 0.1vw solid var(--cor_dois);
    font-family: var(--tipografia_secundaria);
    color: var(--cor_seis);
    border-radius: 0.6vw;
}

.container-estado-cidade-cadastro-tres input::placeholder {
    color: var(--cor_seis);
    opacity: 75%;
    padding-left: 3%;
}

.container-estado-cidade-cadastro-tres input:focus {
    outline: none;
    border: 0.1em solid var(--cor_um);
}

.container-numero-complemento-cadastro-tres {
    display: flex;
    width: 25vw;
    justify-content: space-between;
}

.input-numero-complemento-cadastro-tres {
    display: flex;
    flex-direction: column;
}

.input-numero-complemento-cadastro-tres input {
    width: 124%;
    height: 3vw;
    background-color: transparent;
    border: 0.1vw solid var(--cor_dois);
    font-family: var(--tipografia_secundaria);
    color: var(--cor_seis);
    border-radius: 0.6vw;
}

.input-numero-complemento-cadastro-tres input:focus {
    outline: none;
    border: 0.1em solid var(--cor_um);
}

.input-numero-complemento-cadastro-tres input::placeholder {
    color: var(--cor_seis);
    opacity: 75%;
    padding-left: 3%;
}

.input-numero-complemento-cadastro-tres label {
    display: flex;
    margin-top: 3.5%;
    margin-bottom: 1%;

    font-family: var(--tipografia_secundaria);
    font-size: 1rem;
    font-weight: bold;

    color: var(--cor_seis_v_um);
}

/* FORMULARIO UM INPUTS CADASTRO BRECHO  */

.formulario-cadastro-brecho-buttons button {
    border: none;
    background-color: var(--cor_um);
    width: 10vw;
    height: 3vw;
    border-radius: 2.5vw;
    color: var(--cor_quatro);
    font-family: var(--tipografia_secundaria);
    font-size: 0.9em;
    font-weight: 500;
    /* border: 1px solid red; */
    transition: 0.4s;
    cursor: pointer;
}

.formulario-cadastro-brecho-buttons button:hover {
    background-color: var(--cor_um_v_dois);
}

.formulario-cadastro-brecho-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65%;
}

.formulario-cadastro-brecho-buttons p {
    height: fit-content;
    font-family: var(--tipografia_secundaria);
    font-size: 1em;
    font-weight: 550;
    letter-spacing: 0.5px;
    color: var(--cor_sete);
    /* border: 1px solid red; */
}

.alinhamento-buttons-cadastro{
    /* border: 1px solid red; */
    display: flex;
    align-items: center;

    padding-top: 3%;
}

.button-etapa-anterior-cadastro{
    border: none;
    background-color: var(--cor_doze);
    width: 10vw;
    height: 3vw;
    border-radius: 2.5vw;
    color: var(--cor_um);
    font-family: var(--tipografia_secundaria);
    font-size: 0.9em;
    font-weight: 500;
    /* border: 1px solid red; */
    transition: 0.4s;
    margin-right: 2%;
    cursor: pointer;
}

.button-etapa-anterior-cadastro:hover{
    background-color: var(--cor_doze_v_um);
}