/* General */
.alinhamento-navbar-usuario {
    padding-top: 0.5vw;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar-usuario {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    flex-wrap: nowrap;
    /* border: 1px solid red; */
}

/* Links de navegação */
.nav-links {
    display: flex;
    gap: 4vw;
    margin-left: 3%;
    /* border: 1px solid red; */
}

.link-texto-navbar-usuario {
    color: var(--cor_seis);
    font-family: var(--tipografia_primaria);
    text-decoration: none;
    font-weight: 500;
    font-size: 1rem;
    /* border: 1px solid red; */
}

.link-texto-navbar-usuario:hover {
    color: var(--cor_um_v_dois);
    font-weight: 600;
    transition: 0.2s;
}

.link-texto-navbar-usuario:not(:hover) {
    transition: 0.2s;

}

/* Pesquisa */
/* .container-pesquisa-navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 0.7;
    margin: 0 1vw;
} */

.input-pesquisa-navbar {
    width: 100%;
    max-width: 590px;
    background-color: var(--cor_quatro_v_tres);
    border-radius: 2vw;
    font-size: 1rem;
    padding-left: 3.5rem;
    padding-right: 1rem;
    padding-top: 2%;
    padding-bottom: 2%;
    color: var(--cor_seis);
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    font-family: var(--tipografia_secundaria);
    background-image: url('/img/icons/Pesquisa.svg');
    background-repeat: no-repeat;
    background-position: 1rem center;
    background-size: 1.5rem;
    border: none;
}

.button-sacola-navbar span {

    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -30%;

    width: 40%;
    height: 2.1vh;

    cursor: pointer;

    border: 0.1vw solid var(--cor_vinte);
    border-radius: 100vw;

    font-size: 0.9rem;

    color: var(--cor_quatro);
    background-color: var(--cor_vinte);
}

.input-pesquisa-navbar:focus {
    outline: none;
}

.input-pesquisa-navbar::placeholder {
    color: var(--cor_seis);
    opacity: 0.7;
}

/* Botões */
.button-container-navbar-alinhamento {
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 0.3vw;
    /* border: 1px solid red; */
}

.container_botao_sacola_header {

    display: flex;
    align-items: start;
    justify-content: start;
    width: 100%;
}

.button-sacola-navbar {
    border: none;
    background: transparent;
    display: flex;
    justify-content: start;
    align-items: start;
    height: 100%;
    width: 80%;
}

.button-perfil-navbar {
    border: none;
    background: transparent;
}

.button-chat-navbar {
    border: none;
    background: transparent;
    /* border: 1px solid blue; */
}

.button-chat-navbar img {
    /* border: 1px solid red; */
    width: 1.8vw;
    max-width: 35px;

    cursor: pointer;
    transition: 0.4s;
}

.button-chat-navbar img:hover {
    width: 1.9vw;
}

.button-sacola-navbar img {
    width: 2.2vw;
    cursor: pointer;
    transition: 0.4s;
}

.container_botao_sacola_header span {

    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: -45%;

    min-width: 1.3rem;
    height: 2.2vh;
    padding: 2%;

    cursor: pointer;

    border: 0.1vw solid var(--cor_vinte);
    border-radius: 100vw;

    font-size: 0.8rem;
    font-family: var(--tipografia_primaria);
    font-weight: 550;

    color: var(--cor_quatro);
    background-color: var(--cor_vinte);
}

.button-perfil-navbar img {

    margin-top: 5%;
    width: 2.2vw;
    cursor: pointer;
    transition: 0.4s;
    border-radius: 100vw;
}

/* Hamburger menu */
.menu-btn {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}

.menu-btn img {
    width: 30px;
}

/* Sidebar */
.sidebar {
    position: absolute;
    top: 12%;
    left: -255px;
    width: 250px;
    height: 90%;
    background: var(--cor_quatro);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    transition: left 0.3s;
    border-top-right-radius: 4vw;
    border-bottom-right-radius: 4vw;
    z-index: 1000;
    /* border: 1px solid red; */
}

.sidebar.open {
    left: 0;
}

.sidebar a {
    display: block;
    padding: 10px;
    color: var(--cor_seis);
    text-decoration: none;
    font-family: var(--tipografia_primaria);
    font-weight: 500;
}

.sidebar a:hover {
    color: var(--cor_um_v_dois);
    font-weight: 600;
}

.close-btn {
    border: none;
    background-color: transparent;
    padding-left: 85%;
    margin-right: 5%;
    /* border: 1px solid red; */
}

.close-btn img {
    width: 160%;
}

/* Line separator */
.line-navbar {
    border-bottom: 1px solid var(--cor_seis);
    width: 90vw;
    opacity: 20%;
    margin-top: 1vh;
}

/* Janelinha de pesquisa */

.container-pesquisa-navbar {
    position: relative;
    width: 10%;
    flex-grow: 0.7;
    /* border: 1px solid red; */
}

.janelinha-de-pesquisa-header {
    position: absolute;
    top: 100%;
    /* aparece logo abaixo do input */
    left: -128.5%;
    background-color: var(--cor_quatro);
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 121;
    margin-top: 40px;
    width: 262.7%;

    height: 1509%;

    /* border: 1px solid blue; */
}

.overlay-pesquisa {
    position: fixed;
    /* Para que cubra toda la pantalla */
    top: 19%;
    left: 0;
    width: 100vw;
    height: calc(100vh - 60px);
    background-color: rgba(255, 255, 255, 0.271);
    /* Negro semi-transparente */
    z-index: 100;
    /* Un z-index alto para quedar encima */
}

/* Janelinha de pesquisa */

/* Mobile */
@media screen and (max-width: 915px) {
    .alinhamento-navbar-usuario {
        width: 95%;
    }

    .navbar-usuario {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-top: 4.5%;
        gap: 10px;
    }

    .menu-btn {
        display: block;
        margin-left: 4%;
    }

    .menu-btn img {
        width: 130%;
    }

    .header-link-logo {
        width: fit-content;
        align-items: center;
        justify-content: center;
        display: flex;
        margin-left: 7%;
    }

    .header-link-logo-img {
        width: 60%;
    }

    .nav-links,
    .container-pesquisa-navbar-desktop {
        display: none;
    }

    .buttons-container-navbar-alinhamento {
        display: flex;
        align-items: center;
        gap: 10px;
        order: 1;
        padding-right: 4%;
    }

    .button-sacola-navbar img,
    .button-perfil-navbar img {
        width: 8vw;
        max-width: 40px;
    }

    .container-pesquisa-navbar {
        flex: 1 1 100%;
        /* hace que baje, pero controlado */
        order: 2;
    }

    .input-pesquisa-navbar {
        width: 100%;
        max-width: 350px;
        height: 40px;
        background-size: 1.3rem;
        padding-left: 3rem;
        border-radius: 6vw;
    }
}